.scan-content_wrapper {
  padding: 20px;
}

.scan-step-1 {
  height: calc(100vh - 200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.scan-step-1 .button-scan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  border: 3px solid #7367f0;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f4ff));
  background: linear-gradient(180deg, #fff 0%, #f5f4ff 100%);
  -webkit-box-shadow: 0 4px 20px 0 rgba(135, 124, 255, 0.2);
          box-shadow: 0 4px 20px 0 rgba(135, 124, 255, 0.2);
  gap: 29px;
  padding: 50px 30px;
}
.scan-step-1 .button-scan .icn {
  display: block;
  width: 45px;
}
.scan-step-1 .button-scan .txt {
  color: #111;
  text-align: center;
  font-family: "Roboto-Bold";
  font-size: 25;
  display: block;
  line-height: 100%; /* 25.809px */
}