body {
  --colorRed: #EA5455;
  --colorBlue: #43A5FF;
  --colorOrange: #FF9F43;
  --colorPurple: #7367F0;
  --colorGreen: #28C76F;
  --color666: #666;
  --color777: #777;
  --color111: #111;

  i {
    font-family: Roboto-Italic;
    font-style: normal;
  }
}

.pl-1 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.p-1 {
  padding: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.p-2 {
  padding: 2rem;
}

.bh-bg-red {
  background-color: #B5292F;
}

.select-city-btn {
  padding: 1rem 0;
  font-weight: 500;
  background: #fff;
  font-size: 1.1rem;
  border: 2px solid #EAEAEA;

  &:hover {
    border: 2px solid #7367F0;
  }
}

.icn {
  display: block;
  font-family: Nucleo;
}

.bh-disabled {
  display: none !important;
}

.list-group-item.draggable {
  cursor: move;
}

.text-right {
  text-align: right;
}

.bh-text-purple {
  color: var(--colorPurple) !important;
}

.bh-text-red {
  color: var(--colorRed) !important;
}

.bh-text-orange {
  color: var(--colorOrange) !important;
}

.bh-text-green {
  color: var(--colorGreen) !important;
}

.bh-text-blue {
  color: var(--colorBlue) !important;
}

.bh-text-666 {
  color: var(--color666) !important;
}

.bh-text-777 {
  color: var(--color777) !important;
}

.bh-text-111 {
  color: var(--color111) !important;
}

.label-nav-menu {
  padding: 0 20px;

  .icn {
    margin-right: 1rem;
    font-size: 1.3rem;
    color: var(--colorPurple);
    display: inline-block;
    font-family: Nucleo;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
  }

  .txt {
    font-size: 1rem;
    line-height: 1.3rem;
    font-family: Roboto-Medium;
    color: #5E5873;

  }
}

.header-fixed-top {
  position: fixed;
  top: 0;
  left: 260px;
  z-index: 99;
  width: calc(100% - 260px);
  box-sizing: border-box;
  height: 60px;
  padding: 0 28px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .user-info {
    display: flex;
    align-items: center;
    font-family: Roboto-Medium;

    .name {
      display: flex;
      align-items: center;
      color: #111;
    }

    .text {
      display: block;
      margin-right: 5px;
    }

    .icon {
      color: #666;
      font-size: 10px;
    }

    .ava {
      margin-right: .8rem;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      display: block;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }
}

.footer-fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 260px;
  z-index: 99;
  width: calc(100% - 260px);
  box-sizing: border-box;
  height: 60px;
  padding: 0 28px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0px 1px 0px #EFEFEF;

}

.main-menu ul.navigation-main > li + li {
  margin-top: 1rem;
}

.main-menu-content {
  overflow-y: scroll;

  &:hover {
    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: var(--bs-gray);
    }
  }

  &::-webkit-scrollbar {
    width: 6px;

  }

  &::-webkit-scrollbar-track {

    border-radius: 6px;
    transition: background 0.3s;
  }

  &::-webkit-scrollbar-thumb {

  }
}

.bh-cms-wrapper {

  .table-responsive {
    margin-bottom: 2rem;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #EFEFEF;
    border-radius: 5px;

    .form-check-inline {
      margin-right: 0;
      padding: 0;
      display: block;

      input {
        margin: 0;
      }
    }

    .table {
      & > :not(caption) > * > * {
        padding: 1rem 0.5rem;
        text-transform: unset;

        background: #ffffff;
        color: #666;
      }

      .table-primary td {
        background: #F2F1FF;
      }

      td:nth-child(1), th:nth-child(1) {
        padding-left: 1rem;
      }

      td:nth-last-child(1), th:nth-last-child(1) {
        padding-right: 1rem;
      }
    }

    table {
      margin: 0;

      &.table-order-list {
        tbody {
          td {
            padding-bottom: 3.5rem;
            vertical-align: top;
          }
        }
      }

      .title-col {
        font-size: 0.9rem;
        color: #111;
        line-height: 110%;
      }

      td {
        font-size: .9rem;
      }

      td, th {
        &:nth-child(1) {
          width: 1rem;
        }
      }

      tr:nth-last-child(1) {
        td {

        }
      }
    }
  }

  .filter-table {
    padding: 0 1rem;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #EFEFEF;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;

    .filter {
      & + .filter {
        margin-left: 1rem;
      }

      &.active, &:hover {
        border-bottom: 2px solid var(--colorPurple);
        opacity: 1;

        .txt {
          font-family: Roboto-Medium;

        }

        .icn {

        }
      }

      display: flex;
      align-items: center;
      padding: 1rem 0;
      font-size: 0.9rem;
      line-height: 100%;
      font-family: Roboto-Regular;
      color: #111111;
      opacity: 0.4;

      .icn {
        margin-left: 5px;
        color: var(--colorPurple);
        font-family: Roboto-Regular;
      }
    }
  }

}

.form-label {
  font-family: Roboto-Medium;
  color: #111;
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: .75rem;

  span {
    margin-left: 4px;
    color: var(--colorRed);
  }
}

.selectBox {
  &.active {
    .list-select-type, .list-selectBox {
      opacity: 1;
      visibility: visible;

      .list-group-item:nth-child(1) {
        border-top: none;
      }
    }

    .selected {
      border-radius: 5px 5px 0 0;
      border: 1px solid var(--colorPurple);
    }

    .select-btn {
      border: 1px solid #7367F0;
      border-radius: 5px 5px 0px 0px;
      color: rgba(0, 0, 0, 1);
    }
  }

  background: #fff;
  position: relative;
  cursor: pointer;

  .selected {
    height: 40px;
    border: 1px solid #D8D6DE;
    padding: 0 1.25rem;
    background: #FFFFFF;
    position: relative;

    &.disable-bg {
      background: #f8f8f8;
    }

    &.non-arrow {
      &:after {
        display: none;
      }
    }

    &.before-select {

      .text, .required {
        display: block;
        opacity: 0.4;
      }
    }

    &:after {
      border: none !important;
      content: ' ';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px;
      color: #6e6b7b;
      width: 14px;
      height: 11px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: .75rem;
      padding: 0;
      margin: 0;
      vertical-align: 0;
    }
  }

  .select-type {

  }

  .required {
    display: none;
    margin-left: 3px;
    color: #EA5455;
  }

  .selected, .select-type {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: .9rem;
    line-height: 1.1rem;
    font-family: Roboto-Regular;
    color: #111111;

    .icn {
      &.purple {
        background: var(--colorPurple);
      }

      &.blue {
        background: var(--colorBlue);
      }

      &.red {
        background: var(--colorRed);
      }

      &.orange {
        background: var(--colorOrange);
      }

      &.green {
        background: var(--colorGreen);
      }

      flex-shrink: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  .list-select-type {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    width: 100%;
    z-index: 4;
    li:nth-last-child(1) {
      border-radius: 0 0 5px 5px;
    }

    li:hover {
      background: #F8F8F8;
    }
  }

  .select-btn {
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #D8D6DE;
    padding: 0 1.25rem;
    background: #FFFFFF;
    position: relative;
    border-radius: 5px;
    color: rgba(0, 0, 0, .3);

    span {
      color: rgba(234, 84, 85, .3);

    }

    &:after {
      border: none !important;
      content: ' ';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px;
      color: #6e6b7b;
      width: 14px;
      height: 11px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: .75rem;
      padding: 0;
      margin: 0;
      vertical-align: 0;
    }
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
    }
  }

  .list-selectBox {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: block;
    opacity: 0;
    visibility: hidden;
    background: #FFFFFF;
    border-top: 0;
    border-left: 1px solid #D8D6DE;
    border-right: 1px solid #D8D6DE;
    border-bottom: 1px solid #D8D6DE;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 0px 0px 5px 5px;

    input {
      height: 34px;
      width: 100%;
      padding: 0 14px;
      background: #FFFFFF;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 1px solid #D8D6DE;
      box-sizing: border-box;
      border-radius: 0px;
      font-size: 14px;
      line-height: 16px;
      color: #111111;

      &::placeholder {
        opacity: 0.3;
      }
    }

    .type-group {
      background: #F8F8F8;
      font-size: 10px;
      line-height: 12px;
      /* identical to box height */
      font-family: Roboto-Medium;
      text-transform: uppercase;

      color: #5E5873;
      padding: 4px 10px;
    }

  }

}

.select2-container--default .select2-results__option[aria-selected='true'] {
  .value-btn {
    &:hover {
      .text {
        color: #fff;
        display: block;
        font-family: Roboto-Regular;
      }
    }

    .text {
      color: #fff;
      display: block;
    }

    .des {
      color: #fff;
    }
  }
}

.value-btn {
  &:hover {

    .text {
      color: #7367F0;
      font-family: Roboto-Medium;
    }
  }

  width: 100%;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 14px;

  .total {
    flex-grow: 1;
    display: block;
  }

  .text {
    color: #222222;
    display: block;
  }

  .des {
    font-size: 10px;
    color: #666666;
    margin-top: 4px;
    display: block;
  }

  .numb {
    display: inline-block;
    flex-shrink: 0;
    margin-left: 10px;
    color: #FF9F43;
  }
}

.btn-close-modal {
  &:hover {
    opacity: 1;
  }

  font-family: Nucleo;
  font-size: 1rem;
  color: #555;
  opacity: .5;
}

.modal-header {
  position: relative;

  &:before {
    background: var(--colorPurple);
    width: 4px;
    height: 18px;
    left: 0;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    display: block;
    content: '';
  }
}

.status {
  display: flex;
  align-items: center;

  &.bh-dot-waiting, &.bh-dot-orange {
    .color {
      background: var(--colorOrange);
    }
  }

  &.bh-dot-progress, &.bh-dot-blue {
    .color {
      background: var(--colorBlue);
    }
  }

  &.bh-dot-success, &.bh-dot-green {
    .color {
      background: var(--colorGreen);
    }
  }

  &.bh-dot-cancel, &.bh-dot-red {
    .color {
      background: var(--colorRed);
    }
  }

  .color {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .text {
    font-family: Roboto-Regular;
    font-size: .9rem;
    color: #777;
    line-height: 110%;
  }
}

.status-icn {
  display: flex;
  align-items: center;

  &.bh-icon-green {
    .icn {
      color: var(--colorGreen);
    }
  }

  &.bh-icon-grey {
    .icn {
      color: #666;
    }
  }

  &.bh-icon-red {
    .icn {
      color: var(--colorRed);
    }
  }

  .icn {
    font-size: 8px;
    margin-right: 8px;
    font-family: Nucleo;
  }

  .text {
    font-family: Roboto-Regular;
    font-size: .9rem;
    color: #777;
    line-height: 110%;
  }
}

.status-pay {
  display: flex;
  align-items: center;

  &.bh-pay-done {
    .icn {
      color: var(--colorGreen);
    }
  }

  &.bh-pay-not {
    .icn {
      color: var(--colorRed);
    }
  }

  .icn {
    font-size: 8px;
    margin-right: 8px;
    font-family: Nucleo;
  }

  .text {
    font-family: Roboto-Regular;
    font-size: .9rem;
    color: #777;
    line-height: 110%;
  }
}

.btn-print {
  display: flex;
  align-items: center;

  .icn {
    font-size: 12px;
    margin-right: 8px;
    font-family: Nucleo;
    color: #333;
    display: block;
  }

  .txt {
    font-family: Roboto-Regular;
    font-size: .9rem;
    color: #333;
    line-height: 110%;
  }
}

.btn-history {
  display: flex;
  align-items: center;

  .icn {
    font-size: 12px;
    margin-right: 8px;
    font-family: Nucleo;
    color: #333;
    display: block;
  }

  .txt {
    font-family: Roboto-Regular;
    font-size: .9rem;
    color: #333;
    line-height: 110%;
  }
}

.btn-sort-table {
  display: flex;
  align-items: center;

  .icn {
    font-size: 12px;
    margin-left: 6px;
    font-family: Nucleo;
    color: #666;
    display: block;
  }

  .txt {
    font-family: Roboto-Medium;
    font-size: .9rem;
    color: #111;
    line-height: 110%;
    font-weight: normal;
  }
}

.btn-pin {
  &.active, &:hover {
    background: #FF9F43;
    border: 1px solid #FF9F43;

    span {
      color: #ffffff;
    }
  }

  padding: 0.786rem 1rem;
  transition: .3s;
  background: #FFFFFF;
  border: 1px solid #D8D6DE;
  box-sizing: border-box;
  font-family: Nucleo;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: block;
    color: #C8C8C8;
  }
}

.btn-add {
  display: flex;
  align-items: center;
  justify-content: center;

  .icn {
    margin-left: .5rem;
    font-size: 1rem;
    font-family: Nucleo;
  }
}

.bh-dropdown {
  margin-right: 1.5rem;
}

.mr-075 {
  margin-right: .75rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.ml-075 {
  margin-left: .75rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.input-group.bh-seacrh {
  background: #FFFFFF;
  border: 1px solid #D8D6DE;
  box-sizing: border-box;
  border-radius: 5px;
  padding: .5rem 1.1rem;

  .bh-input-search {
    border: none;
    outline: none;
    font-family: Roboto-Regular;
    font-size: .9rem;
    line-height: 1.1rem;
    flex-grow: 1;

    &::placeholder {
      opacity: .5;
    }
  }

  .icn {
    display: block;
    flex-shrink: 0;
    margin-left: 1rem;
    font-family: Nucleo;
    font-size: 1.1rem;
    color: #666;
  }
}

/*Modal Right*/
.modal.right.fade {

  .modal-dialog {
    width: 300px;
    height: 100vh;
    box-sizing: border-box;
    right: -300px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
    margin: 0 0 0 auto;
  }

  .modal-header, .modal-footer {
    border-radius: 0 !important;
  }

  .modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .modal-body {
    flex-grow: 1;
    max-height: 100%;
    padding: 0;
  }
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

.bh-loading {
  position: relative;
  cursor: default;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(255, 255, 255, .65);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: 99999;
    top: calc((100% - 2rem) / 2);
    left: calc((100% - 2rem) / 2);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -0.125em;
    border: 0.25em solid var(--colorPurple);
    border-right-color: transparent;
    border-radius: 50%;
    animation: 0.75s linear infinite spinner-border;
  }
}

//

.accordion [data-bs-toggle='collapse'] {
  i {
    margin-left: 8px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
  }
}

.sticky-top.sticky-top-90 {
  top: 90px;
}

.selectBox {
  &:has(.select2) {
    background: #fff;
  }

}

.select2-container {
  .selection {
    background: #fff;

    &:after {
      font-size: 12px;
      line-height: 140%;
      position: absolute;
      right: 10px;
      top: 50%;
      content: 'Ch·ªçn';
      transform: translateY(-50%);
      display: block;
      color: #7367F0;
      z-index: 1;
    }
  }

  &.select2-container--default .select2-selection--single, &.select2-container--default.select2-container--focus .select2-selection--multiple {
    background: transparent;
    z-index: 2;
    position: relative;
  }
}

.flatpickr-date-time.food-date {
  padding: 0;
  width: 120px;
  color: var(--color111) !important;
  font-size: 0.9rem;
  box-shadow: none;
  background: none !important;
  border: none !important;
  outline: none !important;
}

.input-date-food {
  &.active {
    .icn {
      display: block;
    }
  }

  .icn {
    display: none;
    color: var(--colorPurple);
  }
}

.tags-name {
  font-size: 12px;
  line-height: 140%;

  background: rgba(115, 103, 240, 0.08);
  border: 1px solid #7367F0;
  box-sizing: border-box;
  border-radius: 53px;
  text-align: center;

  display: inline-flex;
  justify-content: center;
  color: #7367F0;
  padding: 3px 12px 4px;
}


.tags-input-wrapper {
  width: 100%;
  padding: 11px 13px 10px 15px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #D8D6DE;
  background: #FFF;

  input {
    border: none;
    background: transparent;
    outline: none;
    margin-left: 8px;
    width: 120px;
  }

  .tag {
    display: inline-block;
    background-color: #7367f0;
    color: white;
    border-radius: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 4px 3px 0px 7px;
    font-family: 'Roboto-Regular';
    font-size: 13px;

    a {
      margin: 0 7px 3px;
      display: inline-block;
      cursor: pointer;
    }
  }

}

.quantity-number {
  &.empty {
    color: #EA5455;
    font-family: Roboto-Bold;
  }

  color: #111;
  display: block;
  text-align: center;
  font-family: Roboto-Regular;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 101%; /* 13.13px */
}

.disable-action {
  position: relative;

  &:before {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .4);
    z-index: 99;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
  }
}