.form-date {
  padding: 11px 15px;
}
.form-date input {
  flex-grow: 1;
  height: 100%;
  border: none;
  background: none;
  outline: none;
}
.form-date .icn {
  font-size: 1rem;
  margin-right: 5px;
  flex-shrink: 0;
}

.order-info {
  position: relative;
}
.order-info .order-id {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}
.order-info .order-id .text {
  margin-right: 5px;
  line-height: 1.35;
}
.order-info .order-id .icn {
  font-size: 10px;
  line-height: 10px;
}
.order-info .order-date {
  font-size: 0.8rem;
}
.order-info .source {
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  font-size: 0.7rem;
}

.tags-type {
  font-size: 0.7rem;
  background: rgba(115, 103, 240, 0.08);
  border: 1px solid #7367F0;
  box-sizing: border-box;
  border-radius: 53px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  color: #7367F0;
  padding: 1px 5px;
}

.tagBox {
  position: absolute;
  bottom: -5rem;
  left: 0;
  display: flex;
  gap: 5px;
}

.order-user {
  position: relative;
}
.order-user .name {
  margin-bottom: 9px;
}
.order-user .phone {
  font-size: 0.8rem;
}
.order-user .order-total-food {
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  font-size: 0.8rem;
  max-width: 700px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.payment-stt .status-icn {
  margin-bottom: 10px;
}
.payment-stt .cash-back {
  padding-left: 16px;
  font-size: 10px;
  color: #E19D9D;
  display: none;
}
.payment-stt .cash-back.active {
  display: block;
}

.arrange-order {
  color: var(--color666);
  opacity: 0.4;
  font-size: 0.8rem;
}
.arrange-order.active {
  opacity: 1;
}
.arrange-order.active .sale {
  color: var(--colorBlue);
}
.arrange-order.active .staff {
  color: var(--colorPurple);
}
.arrange-order .sale {
  margin-bottom: 7px;
}
.arrange-order .store {
  margin-bottom: 7px;
}

.table-booking {
  background: #FFFFFF;
  border-radius: 5px;
}
.table-booking .filter-box {
  display: flex;
  align-items: center;
  gap: 27px;
  box-shadow: inset 0px -1px 0px #EFEFEF;
  padding: 0 21px;
}
.table-booking .filter-btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 15px 0;
  font-size: 14px;
  line-height: 100%;
  font-family: Roboto-Regular;
  color: #111111;
  opacity: 0.4;
}
.table-booking .filter-btn.active, .table-booking .filter-btn:hover {
  transition: all 0.15s;
  opacity: 1;
}
.table-booking .filter-btn.active .txt, .table-booking .filter-btn:hover .txt {
  font-family: Roboto-Medium;
}
.table-booking .filter-btn.active:before, .table-booking .filter-btn:hover:before {
  width: 100%;
  height: 2px;
  background: #7367F0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  position: absolute;
}
.table-booking .filter-btn.active .count {
  color: #7367F0;
  display: block;
}
.table-booking .filter-btn .txt {
  display: block;
}
.table-booking .filter-btn .count {
  display: none;
}
.table-booking .table-header {
  display: flex;
  padding: 17px 21px;
  justify-content: space-between;
  align-items: center;
}
.table-booking .checkbox {
  width: 20px;
  margin-right: 21px;
  flex-shrink: 0;
}
.table-booking .list-hd {
  flex-grow: 1;
  padding: 0;
  justify-content: space-between;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
}
.table-booking .list-hd .tb-text {
  font-family: Roboto-Medium;
  font-size: 0.9rem;
  color: #111;
  line-height: 110%;
  font-weight: normal;
}
.table-booking .list-hd li:nth-child(1) {
  width: 180px;
}
.table-booking .list-hd li:nth-child(2) {
  width: 242px;
}
.table-booking .list-hd li:nth-child(3) {
  width: 76px;
}
.table-booking .list-hd li:nth-child(4) {
  width: 310px;
}
.table-booking .tb-row {
  display: flex;
  padding: 17px 21px;
  justify-content: space-between;
  box-shadow: inset 0px 1px 0px #EFEFEF;
}
.table-booking .detail-tb {
  flex-grow: 1;
  padding: 0;
  justify-content: space-between;
  display: flex;
  list-style-type: none;
  margin: 0;
  align-items: center;
}
.table-booking .detail-tb .info-booking {
  width: 180px;
}
.table-booking .detail-tb .id-book {
  font-size: 11px;
  line-height: 150%;
  font-family: Roboto-Regular;
  color: #7367F0;
  margin-bottom: 5px;
}
.table-booking .detail-tb .date-time-book {
  font-size: 13px;
  line-height: 150%;
  font-family: Roboto-Bold;
  color: #111111;
}
.table-booking .detail-tb .date-time-book .time-book {
  font-size: 13px;
  line-height: 150%;
  /* or 20px */
  color: #555555;
  font-family: Roboto-Regular;
}
.table-booking .detail-tb .address-book {
  font-size: 12px;
  line-height: 101%;
  font-family: Roboto-Regular;
  color: #777777;
  margin-bottom: 5px;
}
.table-booking .detail-tb .info-cus {
  width: 242px;
  position: relative;
}
.table-booking .detail-tb .extra-info {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 21px;
  white-space: nowrap;
}
.table-booking .detail-tb .name-cus {
  font-size: 13px;
  line-height: 101%;
  font-family: Roboto-Regular;
  margin-bottom: 10px;
  color: #111111;
}
.table-booking .detail-tb .phone-cus {
  font-size: 14px;
  line-height: 101%;
  font-family: Roboto-Medium;
  display: block;
  color: #7367F0;
}
.table-booking .detail-tb .view-menu {
  font-size: 13px;
  line-height: 101%;
  font-family: Roboto-Regular;
  display: block;
  color: #FF9F43;
}
.table-booking .detail-tb .note-book {
  font-size: 13px;
  line-height: 101%;
  font-family: Roboto-Italic;
  color: #666666;
}
.table-booking .detail-tb .people {
  width: 76px;
  font-size: 14px;
  line-height: 101%;
  font-family: Roboto-Regular;
  color: #666666;
}
.table-booking .detail-tb .funcs-book-group {
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.table-booking .detail-tb .select-booking-stt {
  width: 147px;
  flex-shrink: 0;
}

.menu-booking-popup {
  padding: 20px;
  background: #fff;
}

.list-food-booking {
  padding: 0;
  list-style-type: none;
}
.list-food-booking li + li {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 0.7px dashed #DFDFDF;
}
.list-food-booking .food-book {
  display: flex;
  align-items: center;
  gap: 20px;
}
.list-food-booking .info {
  flex-grow: 1;
  display: block;
}
.list-food-booking .name-food {
  font-size: 15px;
  line-height: 145%;
  font-family: Roboto-Medium;
  margin-bottom: 3px;
  color: #222222;
}
.list-food-booking .price-food {
  font-size: 13px;
  line-height: 100%;
  font-family: Roboto-Regular;
  color: #999999;
}
.list-food-booking .quantity-food {
  font-size: 14px;
  line-height: 120%;
  width: 18px;
  text-align: right;
  flex-shrink: 0;
  color: #666666;
}
.list-food-booking .price-final {
  width: 90px;
  font-size: 15px;
  line-height: 100%;
  font-family: Roboto-Medium;
  flex-shrink: 0;
  text-align: right;
  color: #7367F0;
}/*# sourceMappingURL=manage-order-list.css.map */