.title-order {
  line-height: 140%;
  h4 {
    margin-bottom: 0;
  }
  .id-order {
    font-size: 14px;
    margin-right: 5px;
  }
  .icn {
    font-size: 12px;
    margin-right: 10px;
  }
  .order-status {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 12px;
    background: #F3FFF9;
    border: 1px solid #28C76F;
    box-sizing: border-box;
    border-radius: 53px;
    font-size: 12px;
    line-height: 140%;

  }
}

.order-footer-functions {
  a + a {
    margin-left: 1rem;
  }
}

.btn-lock {
  display: flex;
  align-items: center;
  .icn {
    font-size: 11px;
    color: #111;
    margin-right: 9px;
    display: block;
  }
  .txt {
    color: #111111;
    display: block;
    opacity: 0.6;
    font-size: 14px;
    line-height: 100%;

  }
}

.btn-unlock {
  display: flex;
  align-items: center;
  .icn {
    font-size: 11px;
    margin-right: 9px;
    display: block;
  }
  .txt {
    display: block;
    opacity: 0.6;
    font-size: 14px;
    line-height: 100%;

  }
}

.form-slt-order {
  width: calc((100% - 112px) / 5);
}

.cart-order-list {
  .cart-total {
    & + .cart-total {
      margin-top: 15px;
    }
    display: flex;
  }
  .count {
    width: 32px;
    height: 26px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 130%;
    font-family: Roboto-Medium;
    text-align: center;
    color: #111111;
    flex-shrink: 0;
    margin-right: 15px;
  }
  .food-total {
    flex-grow: 1;
  }
  .price-total {
    width: 90px;
    margin-left: 15px;
    flex-shrink: 0;
  }
  .name {
    font-size: 14px;
    line-height: 140%;
    font-family: Roboto-Medium;
    margin-bottom: 8px;
    color: #222222;
  }
  .opts-list {
    margin-bottom: 6px;
  }
  .opt {
    font-size: 12px;
    line-height: 170%;
    color: #666666;
  }
  .note {
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 6px;
    color: #666666;
  }
  .edit-food {
    font-size: 13px;
    display: block;
  }
  .price-total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .price-food {
    font-size: 14px;
    line-height: 140%;
    color: #666666;
    margin-bottom: 9px;
  }
  .remove-food {
    .text {
      font-size: 13px;
    }
  }
}

.order-form-body {
  & + .order-form-body {
    border-top: 1px solid #EFEFEF;

  }
  padding: 20px;
  .price-bill {
    display: flex;
    align-items: center;
    margin-left: auto;
    .text {
      font-size: 14px;
      line-height: 140%;
      color: #222222;
    }
    .money {
      font-family: Roboto-Medium;
      min-width: 80px;
      margin-left: 10px;
      font-size: 16px;
      color: #111111;
    }
  }
}

.btn-add-order {
  display: flex;
  align-items: center;

  .icn {
    font-size: 14px;
    margin-right: 8px;
  }
  .txt {

  }
}

.label-manage-order {
  font-size: 15px;
  line-height: 100%;
  font-family: Roboto-Medium;
  margin-bottom: 15px;
  color: #111111;
  span {
    color: #EA5455;
  }
}

.order-note-textarea {
  overflow: hidden;
  padding: 10px 15px;
  width: 100%;
  font-size: 14px;
  outline: none;
  line-height: 17px;
  display: block;
  background: #FFFFFF;
  border: 1px solid #D8D6DE;
  box-sizing: border-box;
  border-radius: 5px;
  &::placeholder {
    opacity: 0.3;

  }
}