@import "fonts";
@import "mixins";
@import "common";
@import "icons";
//Layout
@import "page-manage-systems";
@import "page-manage-menu";
@import "page-manage-customer";
@import "manage-order-list";
@import "manage-order";
@import "scan";


.table-user-group, .table-bh {

  .role {
    &.adm {
      color: var(--colorRed);
    }

    &.staff {
      color: var(--colorPurple);
    }

    &.mod {
      color: var(--colorOrange);
    }

    &.sale {
      color: var(--colorBlue);
    }
  }

  .funcsRow {
    .edit-btn {
      margin-right: 0.75rem;
    }
  }

  .user-info {
    display: flex;
    align-items: center;

    .ava-user {
      margin-right: 10px;
      flex-shrink: 0;
      width: 2.6rem;
      height: 2.6rem;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        display: block;
        height: 100%;
        object-fit: cover;
      }
    }

    .name-user {
      flex-grow: 1;
      line-height: 101%;
      font-family: Roboto-Regular;
      font-size: .9rem;
      color: #111111;
    }
  }

  .menu-total-product {
    display: flex;
    align-items: center;

    .ava {
      width: 40px;
      height: 40px;
      overflow: hidden;
      margin-right: 12px;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 5px;

      }
    }

    .name {
      font-size: .9rem;
      line-height: 168%;
      color: #111111;
      max-width: 170px;
      white-space: initial;
    }
  }
}

.filter-adv {
  .filter-group {
    padding: 1.5rem 1rem;

    h5 {
      font-size: 14px;
      margin-bottom: 1rem;
    }

    border-bottom: 1px solid #EFEFEF;
  }

  .form-check + .form-check {
    margin-top: 12px;
  }

}

.filter-funcs {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .cancel-filter {
    width: 90px;
    box-sizing: border-box;
    padding: 0;

    .icn {
      font-family: Nucleo;
      font-size: 8px;
      display: block;
      margin-right: 8px;
    }

    .txt {
      display: block;
    }
  }

  .btn-filter-action {
    width: calc(100% - 115px);
    box-sizing: border-box;
  }
}

.btn-filter-adv {
  margin-left: auto;
  display: flex;
  align-items: center;

  .txt {
    color: #111111;
    margin-right: 7px;
    display: block;
  }

  .icn {
    font-family: Nucleo;
    display: block;
    font-size: 9px;
    line-height: 1.4;
    color: var(--colorPurple);
  }
}

.frame-box {
  .frame-img {
    &.active {
      .frame {
        display: block;
      }
    }

    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    position: relative;

    .thumb {
      position: relative;
      z-index: 1;
    }

    img {
      width: 100%;
      display: block;
      height: auto;
    }

    .frame {
      display: none;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }

  .btn-upload-frame {
    border-radius: 0px 0px 5px 5px;

  }
}

.btn-frame {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  svg {
    width: 20px;
    display: block;
    height: auto;
  }

  &.active, &:hover {
    svg {
      path {
        fill: #28C76F;
        fill-opacity: 1;
      }
    }
  }
}

.list-food-voucher {
  display: flex;
  flex-direction: column;

  .food-card-voucher {
    border-bottom: 1px solid #EFEFEF;
    align-items: center;
    display: flex;
    padding: 12px 0;
  }

  .thumb-food {
    width: 40px;
    height: 40px;
    flex-shrink: 0;

    img {
      border-radius: 5px;

      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      display: block;
      object-fit: cover;
    }
  }

  .name-food {
    padding: 0 18px;
    box-sizing: border-box;
    color: #111;
    font-family: Roboto-Regular;
    font-size: 14px;
    flex-grow: 1;
    line-height: 140%; /* 19.6px */
  }
}

.label-voucher {
  color: #222;
  margin-bottom: 4px;
  font-family: Roboto-Regular;
  font-size: 14px;
  line-height: 140%;
}

.voucher-note {
  display: flex;
  flex-direction: column;
  color: #111;

  font-family: Roboto-Regular;
  font-size: 13px;
  line-height: 150%;

  span {
    color: #7367F0;
    font-family: Roboto-Bold;
  }

  .vc-note {
    position: relative;
    padding-left: 25px;

    &:before {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #222;
      display: block;
      position: absolute;
      top: 7px;
      left: 10px;
      content: '';
    }
  }
}

.info-voucher-total {
  background: #FFFFFF;
  border: 1.5px solid #7367F0;
  box-sizing: border-box;
  border-radius: 5px;

  .title-voucher {
    padding: 15px 20px;
    border-bottom: 1px solid #EFEFEF;
    font-size: 19px;
    line-height: 100%;
    font-family: Roboto-Medium;
    color: #111111;
    margin-bottom: 15px;
  }

  .content-voucher {
    padding: 0 20px;
  }

  .voucherBox {

    margin-bottom: 15px;
  }

  .voucher-total {
    & + .voucher-total {
      border-top: 1px solid #EFEFEF;
      padding-top: 15px;
      margin-top: 15px;
    }

    display: flex;
    font-size: 13px;
    line-height: 150%;
    color: #111111;

    .type {
      width: 35%;
      flex-shrink: 0;
      margin-right: 17px;
      font-family: Roboto-Medium;
    }

    .text {
      flex-grow: 1;

      span {
        color: #7367F0;

      }
    }
  }

}

.input-slink {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 1.45;
  color: #666;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d8d6de;
  appearance: none;
  border-radius: 0.357rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  .url-txt {
    position: absolute;
    left: 0.571rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  input.form-short-link {
    padding: 0.571rem 0 0.571rem 111px;
    border: none;
    background: transparent;
    outline: none;
    box-shadow: none;
    flex-grow: 1;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    color: #111;
    &::placeholder{
      color: #666;
    }
  }

  .val-txt {
    color: #111;
    flex-shrink: 0;
    display: flex;
  }
}

.upload-thumb {
  width: 100%;
  padding-right: 1rem;
  box-sizing: border-box;

  .upload-images {
    &.uploaded {
      background: none;
      padding: 0;
      border: none;

      .upload-btn {

      }

      .upload-btn, .text {
        //width: 100%;
      }
    }

    &.upload-banner {
      padding: 25px 0;
    }

    background: #F8F8F8;
    border: 1px solid #D8D6DE;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;

    .upload-btn {
      width: 60%;

      span {
        display: block;
        color: #fff;
      }

      .icn {
        font-family: Nucleo;
        margin-left: 8px;
      }
    }

    .text {
      width: 177px;
      font-size: 12px;
      color: #5F5F5F;
    }
  }

  .list-images {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;

    &.list-banner {
      input {

        width: calc(100% - 94px);

      }

      li {
        width: 100%;
      }

      .images-box {
        display: flex;
        flex-wrap: wrap;

      }

      .images-fd {
        width: 100%;
        height: auto;
        padding-top: 56.25%;
        position: relative;
        margin-bottom: 10px;

        .numb {
          width: 30px;
          height: 30px;
          border: 1px solid #D8D6DE;
          box-sizing: border-box;
          background: #fff;
          color: var(--colorPurple);
          font-family: Roboto-Medium;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 10px;
          right: 10px;
          z-index: 2;
          font-size: 1.1rem;
          line-height: 30px;
        }

        img {
          top: 0;
          left: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 1;
          display: block;
          object-fit: cover;
        }
      }
    }

    li {
      list-style-type: none;
    }

    .images-box {

      &.active {
        .choose-ava {
          background: #7367F0;
          border: 1px solid #7367F0;

          .icn {
            display: block;
          }

          .txt {
            color: #ffffff;
          }
        }
      }

      background: #F8F8F8;
      border: 1px solid #D8D6DE;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 10px;
    }

    .images-fd {
      width: 100%;
      height: 250px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 3px;
        display: block;
      }
    }

    .choose-ava {
      margin-right: 10px;
      width: 80px;
      height: 32px;
      background: #FFFFFF;
      border: 1px solid #D8D6DE;
      box-sizing: border-box;
      border-radius: 39px;
      display: flex;
      padding: 0 10px;
      align-items: center;
      justify-content: center;

      .icn {
        font-family: Nucleo;
        font-size: 12px;
        color: #fff;
        display: none;
        margin-right: 4px;
      }

      .txt {
        font-size: 14px;
        line-height: 100%;
        color: #777777;
        display: block;
      }
    }

    .upload-btn {
      margin-right: 10px;
    }

    .upload-btn, .remove-btn {
      background: #FFFFFF;
      border: 1px solid #D8D6DE;
      box-sizing: border-box;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;

      .icn {
        font-family: Nucleo;
        color: #777;
        font-size: 12px;
        display: block;
      }
    }
  }

}

.label-sp {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .txt {
    font-family: Roboto-Medium;
    color: #111;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
  }

  .span {
    font-family: Roboto-Regular;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    /* identical to box height, or 12px */
    color: #777777;
  }
}

.preview-google {
  flex-grow: 1;
  background: #F8F8F8;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 18px;
    line-height: 130%;
    font-family: Roboto-Regular;
    margin-bottom: 5px;
    color: #142BA2;

  }

  .link {
    font-size: 14px;
    line-height: 130%;
    font-family: Roboto-Regular;
    display: block;
    margin-bottom: 5px;
    color: #25623D;
  }

  .sapo {
    font-size: 13px;
    line-height: 130%;
    font-family: Roboto-Regular;
    margin-bottom: auto;
    color: #7A7A7A;

  }

  .csdcb-review {
    display: flex;
    align-items: center;

    &.half-star {
      .list-star {
        .star-item {
          display: none;

          &:nth-last-child(1) {
            display: flex;
          }
        }
      }
    }

    &.full-star {
      .list-star {
        .star-item {
          display: flex;

          &:nth-last-child(1) {
            display: none;
          }
        }
      }
    }

    &.four-star {
      &.half-star {
        .list-star {
          .star-item {
            display: flex;

            &:nth-last-child(1) {
              display: flex;
            }
          }
        }
      }

      .list-star {
        .star-item {
          display: flex;

          &:nth-last-child(1),
          &:nth-last-child(2) {
            display: none;
          }
        }
      }
    }

    &.three-star {
      &.half-star {
        .list-star {
          .star-item {
            display: flex;

            &:nth-last-child(1) {
              display: flex;
            }

            &:nth-last-child(2),
            &:nth-last-child(3) {
              display: none;
            }
          }
        }
      }

      .list-star {
        .star-item {
          display: flex;

          &:nth-last-child(1),
          &:nth-last-child(2),
          &:nth-last-child(3) {
            display: none;
          }
        }
      }
    }

    &.two-star {
      &.half-star {
        .list-star {
          .star-item {
            display: flex;

            &:nth-last-child(1) {
              display: flex;
            }

            &:nth-last-child(2),
            &:nth-last-child(3),
            &:nth-last-child(4) {
              display: none;
            }
          }
        }
      }

      .list-star {
        .star-item {
          display: flex;

          &:nth-last-child(1),
          &:nth-last-child(2),
          &:nth-last-child(3),
          &:nth-last-child(4) {
            display: none;
          }
        }
      }
    }

    &.one-star {
      &.half-star {
        .list-star {
          .star-item {
            display: flex;

            &:nth-last-child(1) {
              display: flex;
            }

            &:nth-last-child(2),
            &:nth-last-child(3),
            &:nth-last-child(4),
            &:nth-last-child(5) {
              display: none;
            }
          }
        }
      }

      .list-star {
        .star-item {
          display: flex;

          &:nth-last-child(1),
          &:nth-last-child(2),
          &:nth-last-child(3),
          &:nth-last-child(4),
          &:nth-last-child(5) {
            display: none;
          }
        }
      }
    }

    .list-star {
      display: flex;
      align-items: center;
      margin-right: 15px;
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;

      .star-item {
        display: none;
        align-items: center;
        margin-right: 5px;
        width: 12px;

        svg {
          width: 100%;
          height: 100%;
          display: block;
        }

        &:nth-last-child(1) {
          margin-right: 0;
        }
      }
    }

    .txt {
      font-size: 13px;
      line-height: 16px;
      color: #444444;
      font-family: Roboto-Regular;
    }
  }
}

.total-branch {
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
}

.title-editor {
  background: none;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #F2F2F2;
  padding: 0 0 20px 0;
  font-size: 26px;
  line-height: 100%;
  font-family: Roboto-Medium;
  color: #111111;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  overflow: hidden;

  &::placeholder {
    opacity: 0.5;
  }
}

.sapo-editor {
  overflow: hidden;
  background: none;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #F2F2F2;
  padding: 0 0 20px 0;
  font-size: 16px;
  line-height: 19px;
  font-family: Roboto-Italic;
  color: #111111;
  width: 100%;
  box-sizing: border-box;
  outline: none;

  &::placeholder {
    opacity: 0.5;
  }
}

.user-contact {
  padding-left: 2rem;

  .name {
    font-size: 13px;
    line-height: 101%;
    font-family: Roboto-Medium;
    margin-bottom: 8px;
    color: #111111;
  }

  .email {
    font-size: 13px;
    line-height: 101%;
    font-family: Roboto-Regular;
    color: #333333;
    margin-bottom: 8px;
  }

  .phone {
    font-size: 13px;
    line-height: 101%;
    font-family: Roboto-Regular;
    color: #7367F0;
  }


}

.contact-status {
  position: relative;
  padding-left: 16px;
  font-size: 13px;
  line-height: 101%;
  font-family: Roboto-Regular;
  color: #333333;

  &.complete {
    &:before {
      background: #28C76F;
    }
  }

  &:before {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: block;
    content: '';
    background: #FF9F43;
  }
}

.contact-detail {
  .info-user {
    background: #FAFAFF;
    border: 1.5px solid #7367F0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-bottom: 2rem;
    gap: 10px;
  }

  .type-user {
    display: flex;
    align-items: center;
    gap: 45px;
  }

  .type {
    width: 70px;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 101%;
    font-family: Roboto-Regular;
    color: #111111;
  }

  .name {
    font-size: 13px;
    line-height: 101%;
    font-family: Roboto-Medium;
    color: #111111;
  }

  .email {
    font-size: 13px;
    line-height: 101%;
    font-family: Roboto-Regular;
    color: #333333;
  }

  .phone {
    font-size: 13px;
    line-height: 101%;
    font-family: Roboto-Regular;
    color: #7367F0;
  }
}

.total-news {
  display: block;

  .thumb-news {
    width: 80px;
    height: 40px;
    overflow: hidden;
    display: block;
    border-radius: 4px;

    img {
      width: 100%;
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }

  .title-news {
    font-size: 13px;
    line-height: 120%;
    font-family: Roboto-Regular;
    display: block;
    margin-bottom: 10px;
    color: #111111;
    max-width: 347px;
    white-space: normal;
  }

  .author {
    font-size: 13px;
    line-height: 120%;
    font-family: Roboto-Regular;
    color: #7367F0;

  }
}

.table-news {
  td {
    vertical-align: top;
  }

  .cate-box {
    max-width: 100px;
    white-space: normal;
  }

  .seo-point {
    font-size: 13px;
    line-height: 120%;
    /* identical to box height, or 16px */
    font-family: Roboto-Medium;
    text-align: right;

    &.bad {
      color: #EA5455;
    }

    &.not-good {
      color: #FF9F43;
    }

    &.normal {
      color: #FEC053;
    }

    &.good {
      color: #94C728;
    }

    &.very-good {
      color: #28C76F;
    }


  }

  .cate-link {
    font-size: 13px;
    font-family: Roboto-Regular;
    color: #7367F0;
  }
}

.breadcum {
  display: flex;
  gap: 10px;
  font-size: 22px;
  line-height: 100%;
  /* identical to box height, or 22px */
  font-family: Roboto-Medium;
  color: #111111;

  .link-back {
    opacity: 0.3;
    display: block;
    color: #111111;
  }
}

.list-QA {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.5rem;

  .QABox {
    display: flex;
    gap: 20px;
  }

  .inputBox {
    flex-grow: 1;
  }

  .remove-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 100%;
    color: #EA5455;
    background: #FFFFFF;
    border: 1px solid #EA5455;
    flex-shrink: 0;
    width: 90px;
    height: 38px;
    box-sizing: border-box;
    border-radius: 5px;
  }

  input {
    & + input {
      border-top: 0;
      border-radius: 0px 0px 5px 5px;
    }

    outline: none;
    border-radius: 5px 5px 0px 0px;
    font-size: 14px;
    line-height: 16px;
    background: #FFFFFF;
    color: #111111;
    border: 1px solid #D8D6DE;
    padding: 11px 15px;
    width: 100%;
    display: block;
    box-sizing: border-box;

    &::placeholder {
      opacity: .3;
    }
  }


}

.add-QA {
  display: inline-flex;
  align-items: center;
  background: #7367F0;
  border-radius: 5px;
  padding: 10px 15px;
  gap: 10px;

  .icn {
    width: 14px;

    svg {
      width: 100%;
      display: block;
      height: auto;
    }

    display: block;
  }

  .txt {
    font-size: 15px;
    line-height: 100%;
    font-family: Roboto-Medium;
    text-align: center;
    display: block;
    color: #FFFFFF;
  }
}

.input-date-export {
  width: 100%;
  position: relative;
  background: #fff;
  border: 1px solid #D8D6DE;
  border-radius: 5px;
  padding: 11px 15px;

  input {
    background: transparent;
    position: relative;

    z-index: 2;
  }

  .text-label {
    position: absolute;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */
    font-family: Roboto-Regular;
    text-align: center;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #7367F0;
    z-index: 1;
  }

}