@import "fonts";
@import "mixins";
@import "common";
@import "icons";

//Layout
@import "page-manage-systems";
@import "page-manage-menu";
@import "page-manage-customer";
@import "manage-order-list";


.table-user-group, .table-bh {
  .role {
    &.adm {
      color: var(--colorRed);
    }

    &.staff {
      color: var(--colorPurple);
    }

    &.mod {
      color: var(--colorOrange);
    }

    &.sale {
      color: var(--colorBlue);
    }
  }

  .funcsRow {
    .edit-btn {
      margin-right: 0.75rem;
    }
  }

  .user-info {
    display: flex;
    align-items: center;

    .ava-user {
      margin-right: 10px;
      flex-shrink: 0;
      width: 2.6rem;
      height: 2.6rem;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        display: block;
        height: 100%;
        object-fit: cover;
      }
    }

    .name-user {
      flex-grow: 1;
      line-height: 101%;
      font-family: Roboto-Regular;
      font-size: .9rem;
      color: #111111;
    }
  }

  .menu-total-product {
    display: flex;
    align-items: center;

    .ava {
      width: 40px;
      height: 40px;
      overflow: hidden;
      margin-right: 12px;

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 5px;

      }
    }

    .name {
      font-size: .9rem;
      line-height: 101%;
      color: #111111;
    }
  }
}

.filter-adv {
  .filter-group {
    padding: 1.5rem 1rem;

    h5 {
      font-size: 14px;
      margin-bottom: 1rem;
    }

    border-bottom: 1px solid #EFEFEF;
  }

  .form-check + .form-check {
    margin-top: 12px;
  }




}
.filter-funcs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .cancel-filter {
    width: 90px;
    box-sizing: border-box;
    padding: 0;
    .icn {
      font-family: Nucleo;
      font-size: 8px;
      display: block;
      margin-right: 8px;
    }

    .txt {
      display: block;
    }
  }
  .btn-filter-action{
    width: calc(100% - 115px);
    box-sizing: border-box;
  }
}

.btn-filter-adv{
  margin-left: auto;
  display: flex;
  align-items: center;
  .txt{
    color: #111111;
    margin-right: 7px;
    display: block;
  }
  .icn{
    font-family: Nucleo;
    display: block;
    font-size: 9px;
    line-height: 1.4;
    color: var(--colorPurple);
  }
}