@import "fonts";
@import "mixins";
@import "common";
@import "icons";
//Layout
@import "page-manage-systems";
@import "page-manage-menu";
@import "page-manage-customer";
@import "manage-order-list";
@import "manage-order";

.table-user-group, .table-bh {
  .role {
    &.adm {
      color: var(--colorRed);
    }

    &.staff {
      color: var(--colorPurple);
    }

    &.mod {
      color: var(--colorOrange);
    }

    &.sale {
      color: var(--colorBlue);
    }
  }

  .funcsRow {
    .edit-btn {
      margin-right: 0.75rem;
    }
  }

  .user-info {
    display: flex;
    align-items: center;

    .ava-user {
      margin-right: 10px;
      flex-shrink: 0;
      width: 2.6rem;
      height: 2.6rem;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        display: block;
        height: 100%;
        object-fit: cover;
      }
    }

    .name-user {
      flex-grow: 1;
      line-height: 101%;
      font-family: Roboto-Regular;
      font-size: .9rem;
      color: #111111;
    }
  }

  .menu-total-product {
    display: flex;
    align-items: center;

    .ava {
      width: 40px;
      height: 40px;
      overflow: hidden;
      margin-right: 12px;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 5px;

      }
    }

    .name {
      font-size: .9rem;
      line-height: 168%;
      color: #111111;
      max-width: 170px;
      white-space: initial;
    }
  }
}

.filter-adv {
  .filter-group {
    padding: 1.5rem 1rem;

    h5 {
      font-size: 14px;
      margin-bottom: 1rem;
    }

    border-bottom: 1px solid #EFEFEF;
  }

  .form-check + .form-check {
    margin-top: 12px;
  }

}

.filter-funcs {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .cancel-filter {
    width: 90px;
    box-sizing: border-box;
    padding: 0;

    .icn {
      font-family: Nucleo;
      font-size: 8px;
      display: block;
      margin-right: 8px;
    }

    .txt {
      display: block;
    }
  }

  .btn-filter-action {
    width: calc(100% - 115px);
    box-sizing: border-box;
  }
}

.btn-filter-adv {
  margin-left: auto;
  display: flex;
  align-items: center;

  .txt {
    color: #111111;
    margin-right: 7px;
    display: block;
  }

  .icn {
    font-family: Nucleo;
    display: block;
    font-size: 9px;
    line-height: 1.4;
    color: var(--colorPurple);
  }
}

.frame-box {
  .frame-img {
    &.active {
      .frame {
        display: block;
      }
    }

    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    position: relative;

    .thumb {
      position: relative;
      z-index: 1;
    }

    img {
      width: 100%;
      display: block;
      height: auto;
    }

    .frame {
      display: none;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }

  .btn-upload-frame {
    border-radius: 0px 0px 5px 5px;

  }
}

.btn-frame {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  svg {
    width: 20px;
    display: block;
    height: auto;
  }

  &.active, &:hover {
    svg {
      path {
        fill: #28C76F;
        fill-opacity: 1;
      }
    }
  }
}

.list-food-voucher {
  display: flex;
  flex-direction: column;

  .food-card-voucher {
    border-bottom: 1px solid #EFEFEF;
    align-items: center;
    display: flex;
    padding: 12px 0;
  }

  .thumb-food {
    width: 40px;
    height: 40px;
    flex-shrink: 0;

    img {
      border-radius: 5px;

      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      display: block;
      object-fit: cover;
    }
  }

  .name-food {
    padding: 0 18px;
    box-sizing: border-box;
    color: #111;
    font-family: Roboto-Regular;
    font-size: 14px;
    flex-grow: 1;
    line-height: 140%; /* 19.6px */
  }
}

.label-voucher {
  color: #222;
  margin-bottom: 4px;
  font-family: Roboto-Regular;
  font-size: 14px;
  line-height: 140%;
}

.voucher-note {
  display: flex;
  flex-direction: column;
  color: #111;

  font-family: Roboto-Regular;
  font-size: 13px;
  line-height: 150%;

  span {
    color: #7367F0;
    font-family: Roboto-Bold;
  }

  .vc-note {
    position: relative;
    padding-left: 25px;

    &:before {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #222;
      display: block;
      position: absolute;
      top: 7px;
      left: 10px;
      content: '';
    }
  }
}

.info-voucher-total {
  background: #FFFFFF;
  border: 1.5px solid #7367F0;
  box-sizing: border-box;
  border-radius: 5px;

  .title-voucher {
    padding: 15px 20px;
    border-bottom: 1px solid #EFEFEF;
    font-size: 19px;
    line-height: 100%;
    font-family: Roboto-Medium;
    color: #111111;
    margin-bottom: 15px;
  }

  .content-voucher {
    padding: 0 20px;
  }

  .voucherBox {

    margin-bottom: 15px;
  }

  .voucher-total {
    & + .voucher-total {
      border-top: 1px solid #EFEFEF;
      padding-top: 15px;
      margin-top: 15px;
    }

    display: flex;
    font-size: 13px;
    line-height: 150%;
    color: #111111;

    .type {
      width: 35%;
      flex-shrink: 0;
      margin-right: 17px;
      font-family: Roboto-Medium;
    }

    .text {
      flex-grow: 1;

      span {
        color: #7367F0;

      }
    }
  }

}

.input-slink {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 1.45;
  color: #666;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d8d6de;
  appearance: none;
  border-radius: 0.357rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  .url-txt {
    position: absolute;
    left: 0.571rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  input.form-short-link {
    padding: 0.571rem 0 0.571rem 111px;
    border: none;
    background: transparent;
    outline: none;
    box-shadow: none;
    flex-grow: 1;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    color: #111;
    &::placeholder{
      color: #666;
    }
  }

  .val-txt {
    color: #111;
    flex-shrink: 0;
    display: flex;
  }
}
