@charset "utf-8";

@import "reset";
@import "fonts";
@import "mixins";
@import "landing";

.mkl-wrapper {
  background: #FFF;
}

.header-web {
  position: fixed;
  z-index: 90;
  top: 2.96vh;
  left: 65px;
  width: 16.66vh;
  overflow: hidden;
  right: 50px;

  &.active {
    svg {
      path {
        fill: #fff;
      }
    }
  }

  svg {
    width: 100%;
    display: block;
    height: auto;

    path {
      transition: .15s .5s;
    }
  }
}

.mkl-header {
  //position: fixed;
  //z-index: 999;
  //top: 0;
  //left: 0;
  //width: 50px;
  //height: 36px;
  //overflow: hidden;
  //right: 50px;

  .header-content {
    display: flex;
  }

  .logo {
    width: 21vh;
    display: none;

    svg {
      width: 100%;
      display: block;
      height: auto;
    }
  }

  .src-btn {
    position: fixed;
    z-index: 99;
    top: 4.62vh;
    right: 50px;

    &.active {
      i {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: 17px;
        }

        &:nth-child(2) {
          width: 0;
        }

        &:nth-child(3) {
          top: 17px;
          transform: rotate(-45deg);
        }
      }
    }

    &.red-bg {
      background: #BF1818;

    }

    background: #111111;
    border-radius: 8px;
    transition: .15s;
    width: 50px;
    height: 36px;
    display: block;
    cursor: pointer;
    box-sizing: border-box;

    i {
      position: absolute;
      left: 17px;
      width: 16px;
      height: 1px;
      background: #fff;
      transition: .15s;
      display: block;

      &:nth-child(1) {
        top: 12px;
      }

      &:nth-child(2) {
        top: 17px;
      }

      &:nth-child(3) {
        top: 22px;
      }
    }
  }

}


.menu-expand {
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  transition: .8s ease;
  overflow: hidden;

  &.active {
    visibility: visible;

    .backdrop-menu {
      visibility: visible;
      opacity: 1;
    }

    .menu-content {
      transform: translateX(0);
    }

    .logo {
      opacity: 1;
      visibility: visible;
      transition: .15s ease 0s;
    }
  }

  .backdrop-menu {
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, .45);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transition: .4s ease;
  }

  .menu-content {
    transition: .8s ease;
    transform: translateX(100%);
    width: 450px;
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #FFFFFF;
    padding: 43px 50px;
    box-sizing: border-box;
    z-index: 2;
  }

  .logo {
    opacity: 0;
    transition: .8s ease 1.8s;
    visibility: hidden;
    width: 150px;
    margin-bottom: 7.16vh;
    cursor: pointer;
    display: block;
  }

  .list-nav {
    margin-bottom: 6.38vh;

    li {
      &:hover, &.active {
        border-bottom: 1px solid #EA0029;
      }

      transition: .8s;
      border-bottom: 1px solid #F3F3F3;

    }
  }

  .nav-link {
    padding: 15px 0;
    font-size: 2.5vh;
    line-height: 110%;
    /* identical to box height, or 31px */
    font-family: PlusJaS-Regular;
    letter-spacing: -0.01em;
    display: block;
    color: #111111;

  }


}

@media screen and (max-width: 800px) {
  .mkl-wrapper {
    width: 100%;
    overflow: hidden;
  }
}