@charset "utf-8";

@import "reset";
@import "fonts";
@import "mixins";
@import "landing";

.mkl-wrapper {
  background: #FFF;
}

@media screen and (max-width: 800px) {
  .mkl-wrapper {
    width: 100%;
    overflow: hidden;
  }
}