.cate-info {
  padding-top: 50px;
  margin-bottom: 50px;

  .name-cate {
    color: #222;
    text-align: center;
    font-size: 30px;
    font-family: BVNPro-SemiBold;
    line-height: 130%;
    margin-bottom: 10px;
  }

  .des {
    color: #888;
    text-align: center;
    font-size: 15px;
    font-family: BVNPro-Regular;
    line-height: 130%;
  }
}

.list-cate-link {
  .cate-ct {
    @extend .widthCT;

  }

  .list-ctl {

    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 6px;
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    background: #FBFBFB;
    padding: 20px 40px;
    grid-column-gap: 25px;
    grid-row-gap: 12px;
  }

  .cate-link {
    &:hover, &.active {
      color: #B5292F;
      font-family: BVNPro-Medium;
    }

    color: #222;
    font-size: 13.5px;
    font-family: BVNPro-Regular;
    display: block;
    line-height: 130%;
  }
}

.bh-list-cate_wrapper {

}

@media screen and (max-width: 768px) {
  .cateBox {
    padding: 0 20px;
    position: relative;

    &:before {
      height: 100%;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      background: linear-gradient(179deg, #FFE6CE 36.40%, rgba(255, 230, 206, 0.00) 100%);
      content: '';
    }
  }
  .cate-info {
    padding: 0;
    margin-bottom: 17px;

    .name-cate {
      font-size: 24px;
      text-align: left;
    }

    .des {
      font-size: 14px;
      text-align: left;

    }
  }

  .list-cate-link {
    position: sticky;
    width: 100vw;
    margin-left: -20px;
    top: 60px;
    left: 0;
    z-index: 99;
    .list-ctl {
      background: #fff;
      padding: 10px 0;
      display: flex;
      flex-wrap: nowrap;
      gap: 8px;
      width: 100%;
      overflow-x: scroll;
      border: none;
      margin-bottom: 0;
      &::-webkit-scrollbar {
        display: none;
      }
      li {
        &:nth-child(1) {
          margin-left: 20px;
        }

        flex-shrink: 0;

        &:nth-last-child(1) {
          margin-right: 20px;
          padding-right: 20px;
        }
      }
    }

    .cate-link {
      display: inline-flex;
      height: 30px;
      padding: 0px 15px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 15px;
      background: #F6F6F6;
      font-size: 13px;

      &:hover, &.active {
        background: #B5292F;
        color: #fff;
        font-family: BVNPro-Regular;
      }

    }
  }

  .bh-list-cate_wrapper {


    .address-store {
      padding: 12px 0;
      background: none;
    }

    .cateBox {


    }
  }
}