.bh-finish_wrapper {
  &.bh-wrapper {
    padding-top: 30px;
  }

  padding-bottom: 60px;
  background: #fff;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  box-sizing: border-box;

  .funcsBox {
    width: 335px;
    margin: 0 auto;
  }

  .fn-funcs {
    display: flex;
    align-items: center;
    justify-content: center;

    &.save-bill {
      background: #B5292F;
      border: 1.5px solid #B5292F;

    }

    &.repayment {
      background: #B5292F;
      border: 1.5px solid #B5292F;

    }

    &.cod {
      background: #111;
      border: 1.5px solid #111;
    }

    &.back-home {
      background: #FFFFFF;
      border: 1px solid #CBCBCB;

      .txt {
        color: #111111;
      }
    }

    height: 40px;
    box-sizing: border-box;
    border-radius: 33px;
    margin-bottom: 16px;

    .icn {
      width: 14px;
      display: block;
      margin-right: 9px;
    }

    .txt {
      font-size: 14px;
      line-height: 100%;
      font-family: BVNPro-Medium;
      color: #FFFFFF;
      display: block;
    }
  }

  .view-detail {
    font-size: 13px;
    line-height: 140%;
    font-family: BVNPro-Regular;
    display: block;
    text-align: center;
    color: #666666;
  }
}

.fn-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  background: #FFFFFF;
  height: 62px;
  box-shadow: inset 0px -0.5px 0px #E6E6E6;
  z-index: 99;
  width: 100%;
  box-sizing: border-box;

  .back-btn {
    position: absolute;
    width: 24px;
    top: 50%;
    left: 11px;
    transform: translateY(-50%);
    display: block;
  }

  .heading {
    font-size: 19px;
    line-height: 130%;
    font-family: BVNPro-SemiBold;
    text-align: center;
    color: #222222;

  }
}

.fn-content {
  &.fn-print {
    padding: 30px 0;
  }

  padding-top: 80px;
  width: 768px;
  margin: 0 auto;
  max-width: 100%;

  .icon-success {
    width: 86px;
    margin: 0 auto 20px;
  }

  .icon-fail {
    width: 80px;
    margin: 0 auto 30px;
  }

  .icon-success-momo {
    padding-left: 25px;
    width: 120px;
    margin: 0 auto 20px;
  }

  .title {
    width: 256px;
    margin: 0 auto 10px;
    font-size: 22px;
    line-height: 100%;
    font-family: BVNPro-SemiBold;
    color: #222222;
    text-align: center;

  }

  .title-fail {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 100%;
    font-family: BVNPro-SemiBold;
    color: #222222;
    text-align: center;

  }

  .des {
    width: 311px;
    margin: 0 auto 30px;
    font-size: 13px;
    line-height: 140%;
    font-family: BVNPro-Regular;
    text-align: center;
    color: #666666;
  }

  .des-fail {
    width: 311px;
    margin: 0 auto 20px;
    font-size: 13px;
    line-height: 140%;
    font-family: BVNPro-Regular;
    text-align: center;
    color: #666666;
  }

  .od-id {
    .text {
      font-size: 10px;
      line-height: 100%;
      font-family: BVNPro-Medium;
      text-transform: uppercase;
      margin-bottom: 9px;
      color: #B5292F;
      text-align: center;

    }

    .id-numb {
      font-size: 18px;
      line-height: 100%;
      font-family: BVNPro-SemiBold;
      margin-bottom: 10px;
      text-align: center;
      color: #222222;
    }

    .price {
      font-size: 24px;
      text-align: center;
      line-height: 100%;
      font-family: BVNPro-SemiBold;
      color: #356721;
      margin-bottom: 20px;
    }

    margin-bottom: 34px;
  }

  .warning {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-bottom: 30px;

    .icn-top, .icn-bottom {
      width: 768px;
      margin-left: calc((100vw - 768px) / 2);
    }

    .total {
      padding: 30px 0;
      background: #FFF6ED;
    }

    .text {
      font-size: 16px;
      line-height: 130%;
      font-family: BVNPro-SemiBold;
      width: 220px;
      margin: 0 auto 20px;
      color: #111111;
    }

    .price {
      font-size: 24px;
      text-align: center;
      line-height: 100%;
      font-family: BVNPro-SemiBold;
      color: #356721;
      margin-bottom: 20px;
    }

    .note-pickup {
      font-size: 13px;
      line-height: 150%;
      font-family: BVNPro-SemiBold;
      text-transform: uppercase;

      span {
        color: #B5292F;
      }

      color: #111111;
    }

    .note-ship {
      padding: 0 25px;
      font-size: 13px;
      line-height: 140%;
      font-family: BVNPro-RegularItalic;
      text-align: center;

      color: #78614B;

    }
  }

  .money-bill {
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 11px;

    .type-money {
      &.red-text {
        color: var(--colorRed);

      }

      margin-bottom: 2px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 13px;
      line-height: 100%;
      color: #666666;
      flex-shrink: 0;

      .type {
        width: auto;
        font-family: BVNPro-Regular;

      }

      .money {
        width: auto;
        font-family: BVNPro-SemiBold;
      }
    }
  }


  .od-total {
    padding: 0 20px;
    margin-bottom: 30px;

    h4 {
      font-size: 14px;
      line-height: 140%;
      font-family: BVNPro-SemiBold;
      text-transform: uppercase;
      margin-bottom: 26px;
      color: #222222;
    }

    .total-flx {
      & + .total-flx {
        margin-top: 12px;
      }

      display: flex;
    }

    .type {
      font-size: 13px;
      line-height: 100%;
      font-family: BVNPro-Regular;
      color: #666666;
      flex-shrink: 0;
      margin-right: 11px;
      width: 92px;
    }

    .txt {
      font-size: 13px;
      line-height: 130%;
      font-family: BVNPro-Regular;
      color: #222222;
    }
  }

  .list-order {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 20px;
  }

  .order-detail {
    display: flex;

    .quantity {
      color: #666;
      flex-shrink: 0;
      width: 30px;
      font-family: BVNPro-Regular;
      font-size: 13px;
      line-height: 130%;
    }

    .name-food {
      color: #222;
      font-family: BVNPro-Medium;
      font-size: 13px;
      line-height: 130%;
    }

    .opt-food {
      margin: 2px 0;
      padding-left: 10px;
      position: relative;
      font-size: 10px;

      &:before {
        content: '+';
        position: absolute;
        left: 0;
        font-size: 13px;
        line-height: 130%;
        font-family: BVNPro-Regular;
        color: #222222;
      }
    }

    .count {
      color: #666;

      font-family: BVNPro-Regular;
      font-size: 12px;
      line-height: 130%;
    }

    .price-result {
      color: #222;
      font-family: BVNPro-Medium;
      font-size: 13px;
      line-height: 130%;
      text-align: right;
      width: 93px;
      flex-shrink: 0;
    }

    .opt-list {
      list-style-type: none;
      padding: 0;
      margin-top: 11px;

      li {
        margin-bottom: 7px;
        padding: 0;
      }
    }

    .prc-opt, .txt {
      color: #333;
      font-family: BVNPro-Regular;
      font-size: 12px;
      line-height: 130%;
    }

    .note-food {
      font-size: 11px;
      font-family: BVNPro-RegularItalic;
      margin-bottom: 3px;
      line-height: 14px;
      color: #999999;
    }

    .price-item {
      display: flex;
      gap: 3px;
      margin-top: 6px;

      &.sale {
        color: #222;
        font-family: BVNPro-Medium;
        font-size: 12px;
        font-style: normal;
        line-height: 130%; /* 14.3px */
        .price-original {
          text-decoration: line-through;
          color: #999;


        }
      }
    }

    .price-original {
      font-size: 12px;
      font-family: Tahoma;
    }

    .order-info {
      flex-grow: 1;
    }
  }


}

@media screen and (min-width: 768px) {
  .bh-finish_wrapper {
    &.bh-wrapper {
      padding-top: 0;
    }
  }
  .fn-content {
    padding-top: 100px;

    .title {
      width: 100%;
    }
  }
}