.bh-detail-food_wrapper {
  padding: 50px 0;
}

.food-detail_wrapper {
  @extend .widthCT;

  .food-detail_content {
    display: flex;
    align-items: flex-start;
    gap: 33px;
    margin-bottom: 47px;
  }

  .galleryBox {
    width: 40%;
    flex-shrink: 0;
    max-width: 100%;

    position: relative;

    .images-food {
      position: relative;
      display: block;
      @include img-border-gallery();
      border-radius: 10px;
      box-sizing: border-box;
      overflow: hidden;

      &:before {
        border-radius: 10px;
      }

      &.loading-food {
        &:after {
          content: '';
          position: absolute;
          z-index: 99999;
          top: calc((100% - 2rem) / 2);
          left: calc((100% - 2rem) / 2);
          display: inline-block;
          width: 1rem;
          height: 1rem;
          vertical-align: -0.125em;
          border: 0.15em solid var(--colorRed);
          border-right-color: transparent;
          border-radius: 50%;
          animation: 0.75s linear infinite spinner-border;
        }

        i {
          opacity: 0;
          transition: opacity .5s ease;
        }
      }

      i {
        border-radius: 10px;

        transition: opacity .5s ease;
        width: 100%;
        padding-top: 100%;
        @include bg-thumb;
      }
    }

    .swiper-gallery {
      border-radius: 10px;

      .swiper-slide {

      }
    }

    .paginationBox {
      position: absolute;
      display: inline-flex;
      align-items: center;
      left: 20px;
      bottom: 11px;
      padding: 6px 10px;
      background: rgba(0, 0, 0, 0.82);
      backdrop-filter: blur(30px);
      border-radius: 29px;
      z-index: 3;

      .icon {
        width: 10px;
        display: block;
        margin-right: 7px;
      }

      .swiper-pagination {
        position: relative;
        width: auto;
        bottom: auto;
        left: auto;
        display: flex;
        align-items: center;
        font-size: 11px;
        line-height: 100%;
        color: #FFFFFF;
        font-family: 'BVNPro-Medium';

        span {
          width: 8px;
        }
      }
    }

  }

  .infoBox {
    width: calc(60% - 33px);

    .name {
      font-size: 22px;
      line-height: 130%;
      /* or 25px */
      color: #222222;
      font-family: BVNPro-SemiBold;
      margin-bottom: 14px;
    }

    .note-food {
      font-size: 16px;
      line-height: 130%;
      font-family: BVNPro-Medium;
      color: #B5292F;
      margin-top: 7px;
      margin-bottom: 10px;
    }

    .warning {
      display: inline-flex;
      padding: 4px 9px;
      align-items: center;
      gap: 10px;
      border-radius: 20px;
      background: #FFE600;
      color: #111;
      font-family: BVNPro-Medium;
      font-size: 11px;
      line-height: 135%; /* 14.85px */
    }

    .priceBox {
      display: flex;
      align-items: center;

      .current-price {
        font-size: 16px;
        line-height: 130%;
        font-family: BVNPro-Medium;
        color: var(--colorRed);
      }

      .original-price {
        font-size: 11px;
        line-height: 130%;
        font-family: BVNPro-Regular;
        text-decoration-line: line-through;
        margin-left: 11px;
        color: #999999;
      }
    }

    .flexPrice-qtt {
      display: flex;
      flex-direction: column;
      gap: 19px;
      margin-bottom: 24px;
    }

    .sapo {

      &.has-expand {
        &.active {
          display: -webkit-box;
          overflow: visible;
          -webkit-line-clamp: unset;

          .show-more {
            display: none;
          }
        }

        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;

        .show-more {
          display: block;
        }
      }

      margin-top: 15px;
      position: relative;
      font-size: 14px;
      line-height: 140%;
      font-family: BVNPro-Regular;
      color: #222222;
      display: -webkit-box;
      overflow: visible;
      -webkit-line-clamp: unset;

      .show-more {
        &:before {
          content: '... ';
          font-family: BVNPro-Regular;
        }

        display: none;
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 14px;
        line-height: 140%;
        font-family: BVNPro-SemiBold;
        background: #ffffff;
        color: #222222;
      }
    }

    .list-voucher {
      margin-top: 22px;

      li + li {
        margin-top: 13px;
      }

      .voucher {
        display: flex;

        .icn {
          margin-top: 1px;
          width: 16px;
          flex-shrink: 0;
          margin-right: 14px;
        }

        .txt {
          flex-grow: 1;
          font-size: 13px;
          line-height: 130%;
          font-family: BVNPro-Medium;
          color: #629050;

        }
      }
    }

    .order-options {
      padding: 25px 0;
      @extend .bb05;

      .text {
        font-size: 11px;
        line-height: 100%;
        font-family: BVNPro-SemiBold;
        margin-bottom: 27px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #999999;

      }
    }

    .suggest-food {
      padding: 20px 0 35px 0;
      border-bottom: 1px solid #E7E7E7;

      .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
      }

      .text {
        color: #999;
        font-family: BVNPro-SemiBold;
        font-size: 11px;
        font-style: normal;
        line-height: 100%; /* 11px */
        letter-spacing: 0.44px;
        text-transform: uppercase;
      }

      .swiper-funcs {
        display: flex;
        gap: 10px;
      }

      .swiper-button-prev, .swiper-button-next {
        position: relative;
        margin: 0;
        background: none;
        outline: none;
        border: none;
        width: 20px;
        height: 20px;
        top: auto;
        left: auto;
        right: auto;

        &.swiper-button-disabled {
          opacity: .2;
        }
      }

    }

    .sold-count {
      margin-top: 5px;
      color: #777;
      font-family: BVNPro-Regular;
      font-size: 10px;
      font-style: normal;
      line-height: 100%; /* 9px */
      margin-bottom: 20px;
    }

    .swiper-suggest {
      .swiper-slide {
        &:nth-child(1) {
        }

        &:nth-last-child(1) {
        }

        height: auto;
        width: 240px;

      }
    }

    .waiting-card {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      background: #F6F6F6;
    }

    .suggest-card {
      display: flex;
      padding: 5px;
      gap: 8px;
      border: 0.8px solid #D0D0D0;
      background: #FFF;
      border-radius: 8px;

      .thumb {
        width: 68px;
        flex-shrink: 0;
        position: relative;
        display: block;

        i {
          width: 100%;
          padding-top: 100%;
          border-radius: 6px;
          overflow: hidden;
          @include bg-thumb();
          @include img-border-inside();
        }

      }

      &.hot {
        .status {
          opacity: 1;
          visibility: visible;
        }
      }

      &.sale {
        .status {
          opacity: 1;
          visibility: visible;
        }

      }

      .status {
        background: #FFE600;
        border-radius: 0px 14px 14px 0px;
        position: absolute;
        left: 0;
        display: inline-flex;
        opacity: 0;
        visibility: hidden;
        line-height: 130%;
        font-family: BVNPro-Medium;
        color: #222222;
        top: 5px;
        font-size: 10px;
        padding: 4px 7px;
      }

      .total-food {
        flex-grow: 1;
      }

      .name {
        font-size: 14px;
        padding: 0;
        line-height: 140%; /* 19.6px */
        font-family: BVNPro-SemiBold;
        display: block;
        color: #222222;
        margin-bottom: 3px;
      }

      .price {
        display: flex;
        align-items: center;

        .current-price {
          font-size: 12px;
          line-height: 140%; /* 14px */
          font-family: BVNPro-Medium;
          color: var(--colorRed);
        }

        .original-price {
          font-size: 9px;
          line-height: 140%; /* 14px */
          font-family: BVNPro-Regular;
          margin-left: 6px;
          text-decoration-line: line-through;
          color: #999999;
        }
      }

      .voucher {
        display: flex;
        align-items: center;

        .icn {
          width: 12px;
          margin-right: 6px;
          flex-shrink: 0;
        }

        .text {
          flex-grow: 1;
          font-size: 10px;
          line-height: 130%;
          font-family: BVNPro-Medium;
          color: #629050;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }

    .noteBox {
      padding: 25px 0;

      .text {
        font-size: 11px;
        line-height: 100%;
        font-family: BVNPro-SemiBold;
        margin-bottom: 27px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #999999;

      }

      .text-note {
        background: #F7F7F7;
        border-radius: 6px;
        height: 100px;
        width: 100%;
        border: none;
        outline: none;
        box-shadow: none;
        font-size: 13px;
        line-height: 140%;
        color: #222222;
        padding: 11px 15px;
        font-family: BVNPro-Regular;
        box-sizing: border-box;

        &::placeholder {
          opacity: 0.5;
        }
      }
    }


  }

  .funcsFixed {

    z-index: 99;
    bottom: 0;
    transition: bottom .2s ease;
    left: 0;
    width: 100%;
    border-top: 0.5px solid #A08C78;
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-sizing: border-box;


    .price-total {
      .txt {
        font-size: 12px;
        line-height: 140%;
        font-family: BVNPro-Regular;
        margin-bottom: 3px;
        color: #666666;

      }

      .numb {
        font-size: 16px;
        line-height: 130%;
        font-family: BVNPro-Medium;
        color: #222222;

      }
    }

    .funcsBox {
      display: flex;
      gap: 12px;
    }

    .atc-btn {
      &:hover {
        background: #A3272D;
      }

      display: inline-flex;
      padding: 12px 28px;
      font-size: 15px;
      line-height: 100%;
      font-family: BVNPro-Medium;
      color: #FFFFFF;
      background: var(--colorRed);
      border-radius: 34px;
    }

    .buy-now {
      &:hover {
        background: #333333;
      }

      display: inline-flex;
      padding: 12px 28px;
      font-size: 15px;
      line-height: 100%;
      font-family: BVNPro-Medium;
      color: #FFFFFF;
      border-radius: 34px;
      background: #444;
    }

    .disalbe-cart {

      cursor: default;
      display: inline-flex;
      padding: 12px 28px;
      font-size: 15px;
      line-height: 100%;
      font-family: BVNPro-Medium;
      color: #666;
      border-radius: 25px;
      border: 1px solid #ECECEC;
      background: #F6F6F6;
    }
  }


}

.bh-home-menu {
  &.bh-suggest-detail {
    margin-bottom: 50px;

    .heading {
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 768px) {
  .bh-detail-food_wrapper {
    padding: 0 0 50px;
  }
  .address-store {
    padding: 11px 20px;
    box-sizing: border-box;
    width: 100%;
    background: #FFE6CE;

    .dropdown-btn {
      margin-bottom: 0;
    }
  }
  .food-detail_wrapper {

    .food-detail_content {
      flex-direction: column;
      gap: 0;
      margin-bottom: 15px;

    }

    .galleryBox {
      width: 100vw;

      .images-food {
        border-radius: 0;

        &:before {
          border-radius: 0;
          border-left: 0;
          border-right: 0;
        }

        &.loading-food {
          &:after {

          }

          i {

          }
        }

        i {
          padding-top: 58.66%;
          border-radius: 0;
        }
      }

      .swiper-gallery {
        border-radius: 0;

        .swiper-slide {

        }
      }

      .paginationBox {


        .icon {

        }

        .swiper-pagination {

          span {

          }
        }
      }

    }

    .infoBox {
      padding: 15px 20px;
      box-sizing: border-box;
      width: 100%;

      .flexPrice-qtt {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
      }

      .name {
        font-size: 19px;

      }

      .note-food {

      }

      .suggest-food {
        padding: 20px 0;
        border-bottom: 1px solid #E7E7E7;

        .heading {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
        }

        .text {
          color: #999;
          font-family: BVNPro-SemiBold;
          font-size: 11px;
          font-style: normal;
          line-height: 100%; /* 11px */
          letter-spacing: 0.44px;
          text-transform: uppercase;
        }

        .swiper-funcs {
          display: none;
        }


      }

      .swiper-suggest {
        width: 100vw;
        margin-left: -20px;
        .swiper-wrapper {

          overflow-y: scroll;
          gap: 10px;

          &::-webkit-scrollbar {
            display: none;
          }
        }

        .swiper-slide {
          &:nth-child(1) {
            margin-left: 20px;
          }

          &:nth-last-child(1) {
            margin-right: 20px;
          }

          height: auto;
          width: 200px;

        }
      }


      .suggest-card {

        border-radius: 6px;

        .thumb {
          width: 57px;

          i {
            border-radius: 3px;
          }
        }


        .status {
          top: 4px;
          font-size: 8px;
          padding: 2px 4px;
        }

        .total-food {
          flex-grow: 1;
        }

        .name {
          font-size: 12px;

        }

        .price {


          .current-price {
            font-size: 10px;

          }

          .original-price {
            font-size: 9px;

          }
        }

        .voucher {
          display: flex;
          align-items: center;

          .icn {
            width: 12px;
            margin-right: 6px;
            flex-shrink: 0;
          }

          .text {
            flex-grow: 1;
            font-size: 10px;
            line-height: 130%;
            font-family: BVNPro-Medium;
            color: #629050;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }

      .priceBox {

        .current-price {

        }

        .original-price {

        }
      }

      .sapo {

        &.has-expand {
          &.active {


            .show-more {

            }
          }


          .show-more {

          }
        }


        .show-more {
          &:before {

          }


        }
      }

      .list-voucher {


        li + li {

        }

        .voucher {


          .icn {

          }

          .txt {


          }
        }
      }

      .order-options {

        .text {


        }
      }

      .noteBox {


        .text {


        }

        .text-note {


          &::placeholder {

          }
        }
      }


    }

    .funcsFixed {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .price-total {

        .txt {
          text-align: center;

        }

        .numb {

        }
      }

      .funcsBox {

      }

      .atc-btn {
        width: 130px;
        padding: 0;
        height: 39px;
        align-items: center;
        box-sizing: border-box;
        justify-content: center;


      }

      .buy-now {
        width: 130px;
        padding: 0;
        height: 39px;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
      }
    }



  }

  .bh-home-menu {
    &.bh-suggest-detail {
      .heading {
      }
    }
  }
}