.bh-footer {
  background: #B5292F;
  padding: 30px 0;
  margin-top: auto;

}

.bh-footer-content {
  @extend .widthCT;
  display: flex;
  justify-content: space-between;

  .bh-footer-logo {
    display: block;
    width: 50px;
    margin-right: 100px;

    svg {
      path {
        &:nth-child(1) {
          fill: #fff;
        }

        &:nth-child(2) {
          fill: var(--colorRed);
        }
      }
    }
  }

  .logo-text {
    display: none;
  }

  .info-foodBox {
    display: flex;
    margin-left: 0;
    margin-right: auto;
    gap: 25px;
  }

  .list-info-footer {
    width: 250px;
    max-width: 100%;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .info-footer {
    font-size: 12px;
    line-height: 130%;
    font-family: BVNPro-Regular;
    color: #FFFFFF;

    .type {
      font-family: BVNPro-SemiBold;
      margin-bottom: 5px;
    }

    .text {
      color: #fff;
      display: block;
    }
  }

  .socialsBox {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .list-socials {
    display: flex;
    margin-bottom: auto;
  }

  .social-link {
    & + .social-link {
      margin-left: 8px;
    }

    width: 24px;
    display: block;
  }

  .policy {
    width: 159px;
    font-size: 12px;
    line-height: 130%;
    font-family: BVNPro-Regular;
    text-align: right;
    display: block;
    margin: auto 0;
    color: #FFFFFF;

  }

  .credit {
    font-size: 13px;
    line-height: 130%;
    font-family: BVNPro-Regular;
    color: #FFFFFF;

  }
}

.bh-footer-last {
  @extend .widthCT;

  .footer-last {
    margin-top: 37px;
    padding-left: 150px;
    box-sizing: border-box;
  }

  .flx-last {
    display: flex;
    font-size: 13px;
    line-height: 130%;
    font-family: BVNPro-Regular;
    color: #FFFFFF;
    margin-bottom: 23px;

    .policy {
      margin-left: 150px;
      margin-right: 50px;
    }

    a {

      color: #FFFFFF;
      display: block;
    }

  }

  .bct-hl {
    width: 150px;
    display: block;
    margin-left: 40px;

    img {
      width: 100%;
      display: block;
    }
  }

  .info-company {
    flex-grow: 1;
    font-size: 12px;
    line-height: 130%;
    font-family: BVNPro-Regular;
    color: #000000;
    opacity: 0.4;

    b {
      font-family: BVNPro-SemiBold;
      display: block;
    }

    span {
      display: block;
    }
  }
}

@media screen and (max-width: 760px) {

  .bh-footer {
    background: #fff;
    padding: 30px 30px 90px;
    position: relative;

    &:before {
      width: calc(100% - 40px);
      left: 20px;
      top: 0;
      height: 1px;
      display: block;
      content: '';
      background: var(--colorRed);
      position: absolute;
    }

    &:after {
      width: calc(100% - 40px);
      left: 20px;
      top: 4px;
      height: 1px;
      display: block;
      content: '';
      background: var(--colorRed);
      position: absolute;
    }
  }

  .bh-footer-content {
    display: block;

    .logoBox {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }

    .bh-footer-logo {
      svg {
        path:nth-child(1) {
          fill: var(--colorRed);
        }

        path:nth-child(2) {
          fill: #fff;
        }
      }
    }

    .logo-text {
      display: block;
      width: 147px;
    }

    .info-foodBox {
      flex-direction: column;
      gap: 0;
    }

    .list-info-footer {
      &:nth-child(1) {
        margin-bottom: 25px;
      }

      display: flex;
      flex-wrap: wrap;
      row-gap: 17px;
      column-gap: 60px;
      margin-bottom: 30px;
    }

    li {

    }


    .info-footer {
      color: #111;
      font-size: 13px;

      .text {
        color: #111;
        &.red {
          color: var(--colorRed);
        }
      }
    }

    .socialsBox {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .list-socials {
      order: 3;
    }

    .social-link {
      & + .social-link {

      }

      svg {
        circle {
          fill: var(--colorRed);
        }

        path {
          fill: #fff;
        }

        g {
          path {
            fill: var(--colorRed);
          }
        }
      }
    }

    .policy {
      order: 1;
      width: 100%;
      margin-bottom: 15px;
      color: #78614B;
      text-align: left;
    }

    .credit {
      color: #78614B;
      order: 2;
    }
  }

  .bh-footer-last {

    .footer-last {
      padding: 0;
    }

    .flx-last {
      flex-direction: column;
      gap: 10px;

      .text {
        color: #78614B;
      }

      .policy {
        margin: 0;
      }

      a {
        color: #356721;
      }

    }

    .info-company {
      color: #888888;
      display: flex;
      flex-direction: column;
      gap: 5px;
      opacity: 1;
      margin-bottom: 20px;
    }

    .bct-hl {
      margin-left: 0;
    }
  }
}