.is-sticky {
}

.noti-header {
  &.active {
    max-height: 100px;
  }

  position: relative;
  max-height: 0;
  width: 100%;
  box-sizing: border-box;

  background: #b5292f;
  overflow: hidden;
  transition: 0.15s;

  .noti-content {
    &:hover {
      text-decoration: underline;
    }

    padding: 8px 20px;
    display: block;
    color: #ffffff;
    text-align: center;
    font-family: BVNPro-Medium;
    font-size: 12.5px;
    line-height: 130%; /* 17.55px */
    text-transform: uppercase;
    z-index: 1;
    position: relative;
  }

  .close-noti {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 11px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 32px;
    width: 32px;

    &:hover {
      svg {
        opacity: 1;
      }
    }

    svg {
      width: 14px;
      height: 14px;
      display: block;
      opacity: 0.7;

      g {
        opacity: 1;
      }

      path {
        fill: #fff;
      }
    }
  }
}

.bh-main-header {
  &.active {
    .header-content {
      height: 70px;
    }

    .bh-logo {
      width: 164px;
    }
  }

  box-shadow: inset 0px -1px 0px #e6e6e6;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999 !important;
  background: #ffffff;
  width: 100%;

  .header-content {
    @extend .widthCT;
    transition: 0.15s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    position: relative;
  }

  .burger {
    display: none;
  }

  .bh-logo {
    width: 310px;
    transition: 0.15s ease-in-out;
    display: block;
    margin-left: -20px;

    .icn-web {
      display: block;
    }

    .icn-mob {
      display: none;
    }

    img {
      width: 100%;
      display: block;
      height: auto;
    }
  }

  .list-nav {
    display: flex;
    align-items: center;
  }

  .searchBox {
    //position: relative;
    margin-left: auto;

    &.active {
      .searchGroup {
        opacity: 1;
        visibility: visible;
      }
    }

    .searchBtn {
      display: none;
      align-items: center;

      .icn {
        width: 24px;
        display: block;
        margin-right: 10px;
      }

      svg {
        path {
          stroke: var(--colorRed);
        }
      }

      .txt {
        font-size: 14px;
        line-height: 100%;
        font-family: BVNPro-Medium;
        display: block;
        color: #222222;
      }
    }

    .searchGroup {
      background: #fff;
      opacity: 1;
      width: 300px;
      position: relative;
    }

    .search-suggest {
      &.active {
        opacity: 1;
        visibility: visible;
      }

      width: 100%;
      position: absolute;
      top: 100%;
      padding-top: 20px;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;

      .list-linksearch {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .txt {
        color: #999;
        font-family: BVNPro-Regular;
        font-size: 11px;
        line-height: 130%; /* 14.3px */
        padding: 12px 15px;
      }

      .search-link {
        &:hover {
          background: #f9f9f9;
        }

        color: #222;
        font-family: BVNPro-Regular;
        font-size: 13px;
        line-height: 35px; /* 16.9px */
        padding: 0 15px;
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        box-sizing: border-box;
      }

      .sg-content {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        max-height: 450px;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 14px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        background: #fff;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
        overflow-y: scroll;
        overflow-x: hidden;
        overflow-y: overlay;

        &::-webkit-scrollbar {
          width: 5px;
          height: 0;
        }

        &::-webkit-scrollbar-track {
          margin: 20px 0 0;
        }

        &::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0);
          border-radius: 10px;
          box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
        }

        &:hover::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.25);
        }

        &::-webkit-scrollbar-thumb:hover {
          background: rgba(0, 0, 0, 0.25);
        }
      }
    }

    .searchArea {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-items: center;

      input {
        &:focus,
        &:hover {
          background: #fff;
          border: 1px solid rgba(0, 0, 0, 0.15);
        }

        border-radius: 999px;

        border: 1px solid rgba(0, 0, 0, 0.05);
        background: #f9f9f9;
        font-size: 14px;
        line-height: 40px;
        color: #222222;
        font-family: BVNPro-Regular;
        outline: none;
        height: 34px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 33px 0 15px;
        z-index: 1;

        &::placeholder {
          opacity: 0.4;
        }
      }
    }

    .searchSubmit {
      position: absolute;
      right: 6px;
      top: 50%;
      transform: translateY(-50%);
      background: #b5292f;
      border-radius: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 100%;
      font-family: BVNPro-Regular;
      color: #ffffff;
      flex-shrink: 0;
      width: 22px;
      height: 22px;
      font-size: 15px;
      z-index: 2;

      .txt {
        display: none;
      }

      .icn {
        width: 12px;
        display: block;
      }
    }
  }

  .menu-mob {
    display: none;
  }

  .menu-web {
    @extend .widthCT;

    .menu-web-content {
      padding-top: 8px;
      padding-bottom: 8px;
      display: flex;
      gap: 25px;
      align-items: center;
      position: relative;
    }
  }

  .src-web {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    &:hover {
      .txt {
        color: #b5292f;
      }
    }

    .icn {
      width: 16px;
      display: block;
    }

    .txt {
      color: #222;
      font-size: 14px;
      font-family: BVNPro-Medium;
      line-height: 130%;
    }
  }

  .list-menu-fix {
    display: flex;
    gap: 25px;
  }

  .menu-link-fix {
    display: flex;
    gap: 8px;
    align-items: center;

    &:hover {
      .txt {
        color: #b5292f;
      }
    }

    .icn {
      width: 16px;
      display: block;
    }

    .txt {
      color: #222;
      font-size: 15px;
      font-family: BVNPro-Medium;
      line-height: 130%;
      display: block;
    }
  }

  .list-menu-expand {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    transition: 0.1s;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    .menu-parent {
      &.active {
        height: 600px;
        border-right: 0 solid #d9d9d9;
        max-height: calc(100vh - 110px);
      }

      border-bottom: 1px solid #d9d9d9;
      border-left: 1px solid #d9d9d9;
      border-right: 1px solid #d9d9d9;
      transition: max-height 0.3s;
      padding: 15px 0;
      width: 250px;
      box-sizing: border-box;
      background: #fff;
      display: flex;
      flex-direction: column;
      gap: 5px;
      height: 0;
      overflow-y: scroll;
      overflow-x: hidden;
      overflow-y: overlay;
      box-sizing: border-box;

      &::-webkit-scrollbar {
        width: 5px;
        height: 0;
      }

      &::-webkit-scrollbar-track {
        margin: 20px 0 0;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0);
        border-radius: 10px;
        box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
      }

      &:hover::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.25);
      }

      &::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.25);
      }
    }

    .menu-parent-link {
      padding: 8px 20px;
      box-sizing: border-box;
      background: #fff;
      display: flex;
      gap: 12px;
      align-items: center;

      &:hover,
      &.active {
        .icn,
        .txt {
          color: #b5292f;
        }

        background: #f5f5f5;
      }

      .icn {
        width: 18px;
        flex-shrink: 0;
        display: block;
        color: #222;
        font-family: "Nucleo";
        font-size: 18px;
        font-weight: 600;
      }

      .txt {
        color: #222;
        font-size: 14px;
        font-family: BVNPro-Medium;
        line-height: 130%;
        display: block;
      }
    }

    .menu-child {
      &.active {
        max-width: 250px;
      }

      border-bottom: 1px solid #d9d9d9;
      border-right: 1px solid #d9d9d9;
      transition: max-width 0.3s;
      max-width: 0;
      height: 600px;
      max-height: calc(100vh - 110px);
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 20px 0;
      background: #f5f5f5;
      overflow-y: overlay;
      box-sizing: border-box;

      &::-webkit-scrollbar {
        width: 5px;
        height: 0;
      }

      &::-webkit-scrollbar-track {
        margin: 345px 0 0;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0);
        border-radius: 10px;
        box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
      }

      &:hover::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.45);
      }

      &::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.85);
      }
    }

    .list-child-item {
      display: flex;
      width: 250px;
      box-sizing: border-box;
      gap: 12px;
      flex-direction: column;
      padding: 0 20px;
    }

    .child-item {
      &:hover {
        color: #b5292f;
      }

      display: block;
      color: #222;
      font-size: 13px;
      font-family: BVNPro-Regular;
      line-height: 130%;
    }
  }
}

@media screen and (max-width: 760px) {
  .noti-header {
    background: #8d2327;
  }

  .bh-main-header {
    box-shadow: none;
    width: 100%;
    box-sizing: border-box;
    background: #b5292f;
    position: sticky;
    z-index: 999;
    left: 0;
    top: 0;

    .header-content {
      height: 60px;
      padding: 0 20px;
      box-sizing: border-box;
    }

    .menu-web {
      display: none;
    }

    .menu-mob {
      position: fixed;
      z-index: 999999;
      top: 0;
      width: 100vw;
      height: 100%;
      visibility: hidden;
      display: block;
      transition: 0.4s ease;

      &.active {
        visibility: visible;
        transition: 0.2s ease;

        .backdrop-menu {
          opacity: 1;
          visibility: visible;
          transition: 0.2s ease;
        }

        .menu-content {
          //transform: translateX(0);
          transition: 0.2s ease;
          opacity: 1;
        }
      }

      .backdrop-menu {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(18, 18, 18, 0.9);
        backdrop-filter: blur(15px);
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s ease;
      }

      .menu-content {
        background: #fff;
        //transform: translateX(-100%);
        opacity: 0;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
        transition: 0.4s ease;
      }

      .header-mm {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background: #b5292f;

        .close-menu {
          width: 24px;
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 20px;
        }

        .heading {
          color: #ffe6ce;
          text-align: center;
          font-size: 15px;
          font-family: BVNPro-Medium;
          line-height: 100%;
          letter-spacing: 0.375px;
          text-transform: uppercase;
        }
      }

      .list-menu-mob {
        height: calc(100% - 60px);
        overflow-x: scroll;
      }

      .nav-parent {
        height: 54px;
        display: flex;
        align-items: center;
        padding: 15px 20px;
        gap: 12px;
        box-sizing: border-box;
        border-bottom: 1px solid #ededed;

        .icn {
          width: 20px;
          display: block;
          flex-shrink: 0;
          font-family: "Nucleo";
          font-size: 20px;
          font-weight: 600;
          color: #222;
        }

        .txt {
          flex-grow: 1;
          color: #222;
          font-size: 15px;
          font-family: BVNPro-Regular;
          line-height: 130%;
          display: block;
        }
      }

      .menu-box {
        &.active {
          max-height: 600px;
          transition: 0.3s ease;
        }

        max-height: 54px;
        overflow: hidden;
        transition: max-height 0.3s ease;

        .nav-link-mob {
          height: 54px;
          display: flex;
          align-items: center;
          padding: 15px 20px;
          gap: 12px;
          box-sizing: border-box;
          border-bottom: 1px solid #ededed;

          &.active {
            .pm-icn {
              .plus {
                display: none;
              }

              .minus {
                display: block;
              }
            }
          }

          .icn {
            width: 20px;
            display: block;
            flex-shrink: 0;
            font-family: "Nucleo";
            font-size: 20px;
            font-weight: 600;
            color: #222;
          }

          .txt {
            flex-grow: 1;
            color: #222;
            font-size: 15px;
            font-family: BVNPro-Regular;
            line-height: 130%;
            display: block;
          }

          .pm-icn {
            width: 24px;
            height: 24px;
            position: relative;
            display: block;

            .plus,
            .minus {
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
            }

            .plus {
              display: block;
            }

            .minus {
              display: none;
            }
          }
        }

        .list-nav-child {
          display: flex;
          padding: 20px 20px 20px 53px;
          flex-direction: column;
          gap: 20px;
          background: #f5f5f5;

          .nav-child {
            &.active {
              color: var(--colorRed);
            }

            color: #222;
            font-size: 14px;
            font-family: BVNPro-Regular;
            display: block;
            line-height: 130%;
          }
        }
      }
    }

    .burger {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;

      .toggle-btn {
        display: block;
        position: relative;
        width: 100%;
        height: 14px;
      }

      i {
        width: 100%;
        height: 1.8px;
        background: var(--colorBe);
        position: absolute;
        top: 0;

        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
        }

        &:nth-child(3) {
          width: 50%;
          top: auto;
          bottom: 0;
        }
      }
    }

    .bh-logo {
      width: 187px;
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0;

      .icn-web {
        display: none;
      }

      .icn-mob {
        display: block;
      }
    }

    .list-nav {
      display: none;
    }

    .searchBox {
      margin: 0;

      .searchBtn {
        display: block;

        .icn {
          width: 24px;
          margin: 0;

          svg {
            path {
              stroke: #ffe6ce;
            }
          }
        }

        .txt {
          display: none;
        }
      }

      .searchGroup {
        &.active {
          opacity: 1;
          visibility: visible;
        }

        transition: 0.3s ease;
        position: absolute;
        top: 100%;
        opacity: 0;
        visibility: hidden;
        left: 0;
        width: 100vw;
      }

      .searchArea {
        gap: 10px;
        height: 50px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
        padding: 0 20px;
        background: #ffffff;

        input {
          border: none;
          outline: none;
          background: transparent;
          box-sizing: border-box;
          padding: 0;
          border-radius: 0;

          &:hover,
          &:focus {
            border: none;
            background: transparent;
          }
        }
      }

      .searchSubmit {
        right: auto;
        top: auto;
        transform: none;
        position: relative;
        width: 87px;
        height: 30px;
        font-size: 13px;
        background: #78614b;

        .icn {
          display: none;
        }

        .txt {
          display: block;
        }
      }

      .search-suggest {
        padding: 0;

        .sg-content {
          border-radius: 0;
          border: none;
          max-height: 350px;
          border-bottom: 0.7px solid rgba(0, 0, 0, 0.15);
          background: #fff;
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .noti-header .close-noti {
    width: 14px;
    height: 14px;
  }
  .bh-main-header {
    &.tet26 {
      background-color: transparent;
      background-image: url('https://image.bephoa.vn/data/web/bgt26.png');
      background-size: 1px 100%;
      background-repeat: repeat-x;
      background-position: left top;
      
      .searchBox .searchBtn .icn svg path {
        stroke: #c40d29;
      }

      .burger i {
        background: #c40d29;
      }
    }

    &.xmas24 {
      background: #f0223d;
    }
    &.xmas25 {
      background: #c3181d;
    }

    &.tet24 {
      background: linear-gradient(180deg, #fdffea -16.41%, #ffc1ea 100%);

      .searchBox .searchBtn .icn svg path {
        stroke: #e84b60;
      }

      .burger i {
        background: #e84b60;
      }
    }
    &.tt25 {
      background: #fff;

      .searchBox .searchBtn .icn svg path {
        stroke: #b5292f;
      }

      .burger i {
        background: #b5292f;
      }
    }
  }
}
