
.bh-home_wrapper-content {

}

.address-store {
  &.disable {
    display: none;
  }


  position: relative;

  .dropdown-btn {
    display: inline-flex;
    align-items: center;
    min-width: 120px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0 8px;

    .icn-mob {
      display: none;
    }

    .text {
      margin-right: auto;
      font-size: 14px;
      line-height: 100%;
      font-family: BVNPro-Medium;
      display: block;
      color: #222222;
    }

    .icn-web {
      margin-left: 10px;
      width: 10px;
      display: block;
    }

    .text-mob {
      display: none;
    }
  }

  .dropdown-box {
    &.active {
      opacity: 1;
      visibility: visible;
    }

    z-index: 2;
    position: absolute;
    top: 100%;
    padding-top: 5px;
    opacity: 0;
    visibility: hidden;
    right: 0;
    width: 100%;
    min-width: 102px;

    .droplist {
      padding: 10px;
      background: rgba(255, 255, 255, .85);
      border: 1px solid #E0E0E0;
      box-sizing: border-box;
      border-radius: 3px;
      backdrop-filter: blur(22px);

    }

    .loca-change {
      & + .loca-change {
        margin-top: 8px;
        padding-top: 8px;
        border-top: 0.5px solid rgba(224, 224, 224, 0.5);
      }

      &:hover {
        color: var(--colorRed);
      }

      font-size: 14px;
      line-height: 100%;
      font-family: BVNPro-Medium;
      color: #222222;
      display: block;

    }
  }
}

.bh-home_bner-top {
  padding: 0 20px 0;
  position: relative;
  margin-bottom: 30px;

  .bnerBox {
    @extend .widthCT;
  }

  &:before {
    width: 100%;
    height: calc(100% - 20px);
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #FFE6CE 0%, rgba(255, 230, 206, 0) 100%);
  }

  .swiper-button-next, .swiper-button-prev {
    display: none;
  }

  .swiper-hbner {
    position: relative;
    border-radius: 6px;

    .bnerHome {
      width: 100%;
      display: block;

      i {
        width: 100%;
        padding-top: 41.79%;
        @include bg-thumb();
        border-radius: 6px 6px 0 0;
      }
    }

    .bg-blur {
      height: 20px;
      position: relative;

      i {
        z-index: 1;
        width: 100%;
        height: 100%;
        @include bg-thumb();
        border-radius: 0 0 6px 6px;
        filter: blur(40px);
      }
    }

    .paginationBox {
      bottom: 0;
      position: absolute;
      height: 20px;
      box-sizing: border-box;
      left: 0;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      z-index: 3;
    }

    .swiper-pagination {
      z-index: 2;
      position: relative;
      bottom: auto;
      left: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      .swiper-pagination-bullet {
        &.swiper-pagination-bullet-active {
          opacity: 1;
        }

        & + .swiper-pagination-bullet {
          margin-left: 8px;

        }

        opacity: 0.3;
        background: #A08C78;
        width: 5px;
        height: 5px;
        margin: 0;
      }
    }
  }
}

.bh-home-contact {
  &.disable {
    display: none;
  }

  background: #FFFFFF;
  width: 335px;
  border: 0.7px solid #D0D0D0;
  box-sizing: border-box;
  border-radius: 52px;
  position: relative;
  margin: 0 auto 33px;

  .text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8px;
    line-height: 100%;
    font-family: BVNPro-Bold;
    top: -4px;
    display: inline-block;
    padding: 0 9px;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    background: #FFFFFF;
    color: var(--colorRed);
  }

  .call-to {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icn {
    width: 20px;
    display: block;
    margin-right: 13px;
  }

  .txt {
    font-size: 17px;
    line-height: 100%;
    font-family: BVNPro-SemiBold;
    display: block;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #222222;
  }
}

.bh-home-discount {
  position: relative;
  margin-bottom: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  .des {
    color: #888;
    text-align: center;
    font-family: BVNPro-Regular;
    font-size: 14px;
    margin-top: -10px;
    line-height: 130%;
  }

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    @extend .widthCT;

    .icn {
      flex-grow: 1;
      height: 4px;
      position: relative;

      &:before {
        width: 100%;
        height: 1px;
        background: #B5292F;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: '';
      }

      &:after {
        width: 100%;
        height: 1px;
        background: #B5292F;
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
      }
    }

    .txt {
      flex-shrink: 0;
      font-size: 17px;
      line-height: 100%;
      font-family: BVNPro-SemiBold;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin: 0 17px;
      color: #222222;
      display: block;
    }
  }

  .view-all {
    &:hover {
      border: 1px solid rgba(120, 97, 75, 1);
    }

    border-radius: 6px;
    border: 1px solid rgba(120, 97, 75, 0.30);
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.03);
    transition: .15s ease;
    margin: -5px auto 0;
    width: 180px;
    height: 35px;
    color: #222;
    text-align: center;
    font-size: 15px;
    line-height: 130%;
    max-width: 100%;
    font-family: BVNPro-Regular;
    /* identical to box height, or 14px */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .md-list {

    position: relative;
    @extend .widthCT;
    padding: 0 20px;

    &.non-js {
      .swiper-button-next, .swiper-button-prev {
        display: none;
      }
    }

    .swiper-button-next {
      right: -25px;
    }

    .swiper-button-prev {
      left: -25px;
    }

    .swiper-button-next, .swiper-button-prev {
      &.swiper-button-disabled {
        opacity: .2;
      }

      display: block;
      background: none;
      border: none;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      width: 34px;
      height: 34px;
      opacity: 1;

      svg {
        width: 100%;
        display: block;
        height: auto;
      }
    }
  }

  .waiting-card {
    background: #F8F8F8;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

    svg {
      width: 58px;
      height: auto;
      display: block;
    }
  }

  .view-all-card {
    background: #fff;
    margin-top: 5px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    gap: 15px;

    &:hover {
      .icn {
        path {
          fill: var(--colorRed);
        }

        circle {
          fill: #F8F8F8;
        }
      }

      .txt {
        color: var(--colorRed);
      }
    }

    .icn {
      width: 58px;
      display: block;
    }

    .txt {
      color: #666;
      font-size: 13px;
      font-family: BVNPro-Regular;
      line-height: 100%;
      display: block;
    }
  }
}

.swiper-discount {
  &.swiper-container {
    padding-bottom: 15px;
  }

  .swiper-slide {
    height: auto;
  }

  .slide-food {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 0;
    transition: .1s linear;

    &:hover {

      padding-top: 0;
      padding-bottom: 5px;
    }
  }
}

.bh-home-menu {
  position: relative;

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    @extend .widthCT;

    .icn {
      flex-grow: 1;
      height: 4px;
      position: relative;

      &:before {
        width: 100%;
        height: 1px;
        background: #B5292F;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: '';
      }

      &:after {
        width: 100%;
        height: 1px;
        background: #B5292F;
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
      }
    }

    .txt {
      flex-shrink: 0;
      font-size: 15px;
      line-height: 100%;
      font-family: BVNPro-SemiBold;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin: 0 17px;
      color: #222222;
    }
  }

  .tagBox {
    position: sticky;
    top: 60px;
    left: 0;
    background: #ffffff;
    z-index: 99 !important;

    .swiperBox {
      @extend .widthCT;
      position: relative;
    }

    .swiper-button-prev {
      display: none;
    }

    .swiper-button-next {
      display: none;

    }

    .menu__tags-list {
      padding: 10px 0;

      .swiper-wrapper {
        white-space: nowrap;
        width: 100vw;
        overflow: scroll;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .swiper-slide {
        &:nth-child(1) {
          margin-left: 20px;
        }

        &:nth-last-child(1) {
          margin-right: 20px;
        }

        width: auto;
        margin-left: 8px;
      }

      .tags-filter {
        &.active {
          background: var(--colorRed);
          color: #FFFFFF;
        }

        transition: .3s;
        display: inline-flex;
        background: #F6F6F6;
        border-radius: 20px;
        height: 30px;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        font-size: 13px;
        line-height: 100%;
        font-family: BVNPro-Regular;
        text-align: center;
        color: #222222;
      }

    }
  }
}

.bh-menu-list {
  &.bh-loading {
    min-height: 70vh;
  }

  @extend .widthCT;

  li {
    &:nth-child(1) {
      @extend .bt05;
    }

    @extend .bb05;
    padding: 15px 20px;
  }
}

.food-card {
  display: flex;

  &.hot {
    .status {
      opacity: 1;
      visibility: visible;
    }
  }

  &.sale {
    .status {
      opacity: 1;
      visibility: visible;
    }

  }

  &.water-mark {
    .frame-img {
      display: block;

    }
  }

  .thumb {

    width: 26.86%;
    flex-shrink: 0;
    margin-right: 15px;
    position: relative;
    display: block;

    i {
      width: 100%;
      padding-top: 100%;
      border-radius: 6px;
      overflow: hidden;
      @include bg-thumb();
      @include img-border-inside();
    }

  }

  .status {
    background: #FFE600;
    border-radius: 0px 14px 14px 0px;
    position: absolute;
    left: 0;
    display: inline-flex;
    opacity: 0;
    visibility: hidden;
    line-height: 130%;
    font-family: BVNPro-Medium;
    color: #222222;
    top: 5px;
    font-size: 10px;
    padding: 4px 7px;
    z-index: 3;
  }

  .frame-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-position: top left;
    background-repeat: no-repeat;
    display: none;
    z-index: 2;
  }

  .total-food {
    flex-grow: 1;
  }

  .name {
    font-size: 15px;
    line-height: 130%;
    font-family: BVNPro-SemiBold;
    display: block;
    margin-bottom: 6px;
    color: #222222;
  }

  .sold-count {
    color: #777;
    font-family: BVNPro-Regular;
    font-size: 10px;
    font-style: normal;
    line-height: 100%; /* 9px */
    margin-bottom: 16px;
    text-align: left;
  }

  .price {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    .current-price {
      font-size: 13px;
      line-height: 130%;
      font-family: BVNPro-Medium;
      color: var(--colorRed);
    }

    .original-price {
      font-size: 10px;
      line-height: 130%;
      font-family: BVNPro-Regular;
      margin-left: 6px;
      text-decoration-line: line-through;
      color: #999999;
    }
  }

  .voucher {
    display: flex;
    align-items: center;

    .icn {
      width: 12px;
      margin-right: 6px;
      flex-shrink: 0;
    }

    .text {
      flex-grow: 1;
      font-size: 10px;
      line-height: 130%;
      font-family: BVNPro-Medium;
      color: #629050;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .funcsBox {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }


  .buy-now, .add-to-card, .view-detail, .view-btn {
    width: calc((100% - 12px) / 2);
    font-size: 13px;
    line-height: 100%;
    border-radius: 25px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: BVNPro-Regular;
    box-sizing: border-box;
  }

  .disalbe-cart {
    font-size: 13px;
    line-height: 100%;
    border-radius: 25px;
    height: 28px;
    width: 120px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: BVNPro-Regular;
    box-sizing: border-box;
    cursor: default;
    color: #666;
    border: 1px solid #ECECEC;
    background: #F6F6F6;
  }

  .buy-now {
    background: #F7F7F7;
    color: #666666;
  }

  .view-btn {
    color: #666666;
    display: none;
  }

  .view-detail {
    color: #666666;
    border: 1px solid rgba(120, 97, 75, 0.30);
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.03);
  }

  .add-to-card {
    background: var(--colorRed);
    color: #FFFFFF;
  }
}

.go-to-top {
  margin-top: 15px;
  margin-bottom: 31px;
  display: flex;
  align-items: center;
  justify-content: center;

  .txt {
    font-size: 12px;
    line-height: 100%;
    /* identical to box height, or 12px */
    font-family: BVNPro-Regular;
    display: block;
    margin-right: 3px;
    color: #A08C78;
  }

  .icn {
    width: 12px;
    display: block;
  }
}

.bh-cart-total {
  &:before {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: block;
    content: '';
    background: rgba(241, 250, 237, 1);
    border-radius: 29px;
    filter: blur(30px);
  }

  position: relative;
  width: calc(100% - 65px);
  background: rgba(241, 250, 237, 0.9);
  border: 1px solid #B0C7A7;
  box-sizing: border-box;

  border-radius: 29px;
  padding: 11px 14px;
  display: flex;
  align-items: center;

  .icn-web {
    display: none;
  }

  .icon {
    width: 22px;
    flex-shrink: 0;
    margin-right: 9px;
  }

  .total {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 100%;
    font-family: BVNPro-SemiBold;
  }

  b {
    color: #629050;
  }

  .quantity {
    margin-left: 6px;
    margin-right: auto;
    color: #000000;
    font-family: BVNPro-Regular;
  }

  .price-total {
    color: #111111;
    font-size: 15px;
  }

  .noti-atc {
    &.active {
      opacity: 1;
      visibility: visible;
    }

    transition: .3s ease;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: -50px;
    width: 335px;
    padding: 10px 11px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: #F1FAED;
    border: 1px solid rgba(98, 144, 80, 0.5);
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
    border-radius: 6px;

    .icn {
      width: 18px;
      display: block;
      margin-right: 9px;
    }

    .txt {
      font-size: 13px;
      line-height: 100%;
      font-family: BVNPro-Regular;
      display: block;
      color: #629050;

    }
  }

  .noti-fail {
    &.active {
      opacity: 1;
      visibility: visible;
    }

    transition: .3s ease;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: -58px;
    width: 335px;
    padding: 7px 11px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FF6161;

    background: #f9f4f4;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-size: 13px;
    line-height: 135%;
    font-family: BVNPro-Regular;
    text-align: center;
    color: #FE3E3E;

  }
}

.bh-bner-footer {
  margin-bottom: 22px;
  @extend .widthCT;

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    .icn {
      flex-grow: 1;
      height: 4px;
      position: relative;

      &:before {
        width: 100%;
        height: 1px;
        background: #B5292F;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: '';
      }

      &:after {
        width: 100%;
        height: 1px;
        background: #B5292F;
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
      }
    }

    .txt {
      flex-shrink: 0;
      font-size: 15px;
      text-align: center;
      line-height: 130%;
      font-family: BVNPro-SemiBold;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin: 0 17px;
      color: #222222;
    }
  }

  .swiper-bner-footer {
    backface-visibility: hidden;
    padding: 20px 0;

    .swiper-slide {
      width: 305px;
      padding: 15px;
      box-sizing: border-box;
      perspective: 305px;
      height: auto;

      &.swiper-slide-active {
        padding: 0;
        transition: all .4s ease;
      }
    }

    .slide-bner-footer {
      padding: 18px 27px;
      background: #FFFFFF;
      border: 0.5px solid #E0C6AE;
      box-sizing: border-box;
      box-shadow: 0 6px 30px rgba(241, 221, 202, 0.51);
      border-radius: 10px;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        display: block;
      }

      .imgBox {
        margin-bottom: 17px;
      }

      .text {
        font-size: 14px;
        line-height: 130%;
        font-family: BVNPro-Regular;
        text-align: center;
        color: #78614B;
      }
    }
  }
}

.bh-main-footer-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  box-sizing: border-box;
  padding: 0 20px 31px;
  z-index: 99;
  background: linear-gradient(1.98deg, rgba(255, 255, 255, 0.95) 40%, rgba(255, 255, 255, 0) 98.33%);

  .open-mess {
    width: 42px;
  }
}

.menu-tab-group {
  @extend .widthCT;

  &.child-4 {
    .list-menu-tab {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.list-menu-tab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 18px;
  padding: 30px 0 10px;


  li {

    .menu-tab {
      position: relative;

      display: block;
      box-sizing: border-box;

      &.active {
        .icn {
          opacity: 1;
        }
      }

      &.disabled {
        filter: grayscale(1);
        opacity: .4;
        cursor: default;
      }

      &:not(.disabled) {
        &:hover, &.active {
          .thumb {
            border: 2px solid #000000;
          }
        }
      }

      .thumb {
        display: block;
        width: 100%;
        border: 2px solid transparent;
        border-radius: 6px;
        overflow: hidden;
        box-sizing: border-box;

        i {
          transition: .15s ease;
          overflow: hidden;
          box-sizing: border-box;
          width: 100%;
          padding-top: 25.45%;
          border-radius: 6px;
          @include bg-thumb();
        }
      }

      .name {
        position: absolute;
        left: 0;
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        font-size: 17px;
        line-height: 120%;
        font-family: BVNPro-SemiBold;
        display: block;
        color: #111111;
      }

      .icn {
        position: absolute;
        width: 14px;
        bottom: -21px;
        left: calc((100% - 14px) / 2);
        z-index: 2;
        opacity: 0;
        animation: mover 0.5s infinite alternate;
        transition: opacity .75s ease;
      }
    }
  }

}

.content-tab {
  &.bh-loading {
    min-height: 70vh;
  }
}

@media screen and (min-width: 768px) {

  .bh-wrapper.bh-home_wrapper {
  }
  .bh-home_wrapper-content {

  }
  .bh-home_bner-top {

    padding: 25px 0;

    &:before {
      display: none;
    }

    .swiper-button-next {
      right: 0;
      border-radius: 5px 0 0 5px;

    }

    .swiper-button-prev {
      left: 0;
      border-radius: 0 5px 5px 0;

    }

    .swiper-container {
      &:hover {
        .swiper-button-next, .swiper-button-prev {
          opacity: 1;
        }
      }
    }

    .swiper-button-next, .swiper-button-prev {
      transition: opacity .15s;
      width: 27px;
      height: 60px;
      top: 50%;
      margin: 0;
      opacity: 0;
      transform: translateY(-50%);
      background: rgba(86, 86, 86, 0.7);
      backdrop-filter: blur(40px);
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 12px;
        height: auto;
        display: block;

        path {
          fill: #FFFFFF;
        }
      }
    }
  }

  .bh-home-contact {
    width: auto;
    display: inline-block;
    background: none;
    border: none;
    margin: 0 0 0 40px;

    .text {
      display: none;
    }

    .call-to {
      height: auto;
    }

    .icn {
      margin-right: 10px;

      svg {
        g {
          path {
            &:nth-child(1) {
              fill: #fff;
              stroke: var(--colorRed);
              stroke-width: 1.5px;
            }
          }
        }
      }
    }

    .txt {
      font-size: 14px;
    }
  }
  .bh-bner-footer {
    .swiper-container-free-mode > .swiper-wrapper {
      transition-timing-function: linear;
    }

    .swiper-bner-footer {
      .swiper-slide {
        padding: 0;
      }
    }
  }
  .bh-cart-total {
    width: auto;
    display: inline-flex;
    align-items: center;
    margin-left: 40px;
    padding: 0;
    background: none;
    border: none;
    backdrop-filter: none;

    .icn-web {
      display: block;
      width: 24px;
      margin-right: 10px;
    }

    .icon {
      display: none;
    }

    .total {
      font-size: 14px;
      line-height: 100%;
      font-family: BVNPro-Medium;
      display: flex;
      align-items: center;
    }

    b {
      color: #222222;

      &:after {
        content: ' hàng';
      }
    }

    .quantity {
      width: 28px;
      height: 28px;
      margin-left: 10px;
      background: #FFE600;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 13px;
      line-height: 100%;
      font-family: BVNPro-Medium;
      color: #222222;

      span {
        display: none;
      }
    }

    .price-total {
      display: none;
    }

    .noti-atc {

      top: 130%;
      width: 250px;
      left: auto;
      right: 0;

      .icn {

      }

      .txt {

      }
    }

    .noti-fail {

      top: 130%;
      left: auto;
      right: 0;

      .icn {

      }

      .txt {

      }
    }
  }

  .bh-home-menu {
    .tagBox {
      &.active {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
      }

      padding: 10px 0;

      top: 70px;
      margin: 20px 0 15px;

      .swiper-button-next {
        right: -25px;
      }

      .swiper-button-prev {
        left: -25px;
      }

      .swiper-button-next, .swiper-button-prev {
        &.swiper-button-disabled {
          opacity: .2;
        }

        display: block;
        background: none;
        border: none;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        width: 34px;
        height: 34px;
        opacity: 1;

        svg {
          width: 100%;
          display: block;
          height: auto;
        }
      }

      .menu__tags-list {
        padding: 0;

        .swiper-wrapper {
          white-space: unset;
          width: 100%;
          overflow: unset;
        }

        .tags-filter {
          height: 34px;
        }

        .swiper-slide {
          &:nth-child(1) {
            margin-left: 0;
          }

          &:nth-last-child(1) {
            margin-right: 0;
          }
        }

        .swiper-wrapper {

        }

      }
    }

    .heading {
      margin-bottom: 30px;
    }
  }

  .bh-menu-list {

    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;

    li {
      &:hover {
        padding-top: 0;
        padding-bottom: 5px;
        transition: .1s linear;
      }

      &:nth-child(1) {
        border: none;
      }

      //background: #FFFFFF;
      border: none;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 5px 0 0 0;
    }
  }

  .go-to-top {
    margin-top: 30px;
  }

  .food-card {
    &:hover {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
    }

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
    position: relative;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
    background: #fff;

    .thumb {
      margin-right: 0;
      width: 100%;

      i {
        border-radius: 6px 6px 0px 0px;

        &:before {
          border-radius: 6px 6px 0px 0px;
        }

        padding-top: 63.45%;
      }
    }

    .total-food {
      display: flex;
      flex-direction: column;
      border-right: 0.5px solid rgba(0, 0, 0, 0.15);
      border-left: 0.5px solid rgba(0, 0, 0, 0.15);
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
      padding: 9px 12px 10px;
      border-radius: 0px 0px 6px 6px;
    }

    .status {
      top: 15px;
      font-size: 11px;
      padding: 5px 10px;
    }

    .sold-count {
      text-align: center;
    }


    .name {
      text-align: center;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .price {
      justify-content: center;
    }

    .voucher {
      & + .voucher {
        display: none;
      }

      display: flex;
      position: absolute;
      background: linear-gradient(359.36deg, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 97.27%);
      box-sizing: border-box;
      bottom: 0;
      left: 0;
      height: 40px;
      padding: 20px 7px 7px;
      width: 100%;

      .icn {
        svg {
          path {
            fill: #FFE600;
          }
        }
      }

      .text {
        color: #fff;
      }
    }

    .funcsBox {
      margin-top: auto;
      flex-direction: column-reverse;
      align-items: center;

    }

    .add-to-card, .buy-now, .view-detail {
      width: 120px;
    }

    .view-btn {
      display: flex;
    }


    .view-detail {
      margin-top: 25px;
      margin-bottom: 15px;
    }

    .buy-now, .view-btn {
      background: none;
      margin-top: 5px;
    }


  }
  .bh-main-footer-fixed {
    width: auto;
    right: 0;
    left: auto;
    background: none;
  }

}

@media screen and (min-width: 1440px) {
  .bh-menu-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 760px) {
  .fb_reset {
    iframe {
      right: 0 !important;
    }
  }
  .food-card.vertical {
    position: relative;
    height: auto;
    width: 155px;
    flex-direction: column;

    .thumb {
      margin-right: 0;
      width: 100%;

      i {
        border-radius: 6px 6px 0px 0px;

        &:before {
          border-radius: 6px 6px 0px 0px;
        }

        padding-top: 63.45%;
      }
    }

    .total-food {
      display: flex;
      flex-direction: column;
      border-right: 0.8px solid rgba(0, 0, 0, 0.15);
      border-left: 0.8px solid rgba(0, 0, 0, 0.15);
      border-bottom: 0.8px solid rgba(0, 0, 0, 0.15);
      padding: 9px 12px 10px;
      border-radius: 0px 0px 6px 6px;
    }

    .status {
      top: 10px;
    }

    .name {
      font-size: 13.5px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .price {
      margin-bottom: 5px;
      justify-content: flex-start;
    }

    .voucher {
      & + .voucher {
        display: none;
      }

      display: flex;
      position: absolute;
      background: linear-gradient(359.36deg, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 97.27%);
      box-sizing: border-box;
      bottom: 0;
      left: 0;
      height: 40px;
      padding: 20px 7px 7px;
      width: 100%;

      .icn {
        svg {
          path {
            fill: #FFE600;
          }
        }
      }

      .text {
        color: #fff;
      }
    }

    .funcsBox {
      margin-top: auto;
      flex-direction: column-reverse;
      align-items: center;
    }

    .add-to-card, .buy-now {
      width: 120px;
    }

    .buy-now {
      background: none;
      margin-top: 5px;
    }
  }
  .address-store {
    z-index: 10;

    &.landingAD {
      padding: 10px 16px;

      background: #FFE6CE;

      .dropdown-btn {
        margin: 0;
      }

    }

    .dropdown-btn {
      width: 100%;
      background: none;
      border: none;
      padding: 0;
      margin-bottom: 16px;
      height: auto;

      .icn-mob {
        display: block;
        width: 16px;
        margin-right: 8px;
      }

      .icn-web {
        display: none;
      }

      .text-mob {
        display: block;
        font-size: 12px;
        line-height: 100%;
        font-family: BVNPro-Regular;
        color: #B5292F;
      }
    }

    .dropdown-box {
      width: 130px;
      top: 15px;

      .droplist {
        background: #fff;
        backdrop-filter: blur(18px);
      }

      .loca-change {
        & + .loca-change {
          margin-top: 8px;
          padding-top: 10px;
        }

        font-size: 15px;
        padding: 5px 0;
      }
    }
  }

  .bh-home_bner-top {
    padding: 0;

    .bg-blur {
      display: none;
    }

    .swiper-hbner {
      border-radius: 0;

      .bnerHome i {
        padding-top: 72%;
        border-radius: 0;
      }

      .bg-blur {
        height: 15px;
      }

      .paginationBox {
        font-family: BVNPro-Medium;
        height: 15px;
        border-radius: 29px;
        background: rgba(0, 0, 0, 0.82);
        backdrop-filter: blur(15px);
        position: absolute;
        width: auto;
        height: 22px;
        box-sizing: border-box;
        padding: 4px 13px 6px 10px;
        bottom: 10px;
        right: 10px;
        left: auto;
        display: flex;
        align-items: center;
        color: #FFF;
        font-size: 11px;

        span {
          display: block;
        }

        .icn {
          display: block;
          margin-right: 7px;
        }
      }

    }
  }
  .menu-tab-group {
    &.child-4 {
      padding: 25px 0;
      max-width: 100%;
      overflow-y: hidden;

      &::-webkit-scrollbar {
        display: none;
      }

      .list-menu-tab {
        padding: 0;
        display: inline-flex;
        grid-gap: unset;
      }

      li {
        width: 104px;
        flex-shrink: 0;

        &:nth-child(1) {
          margin-left: 20px;
        }

        &:nth-last-child(1) {
          margin-right: 20px;
        }

        margin-right: 10px;
      }
    }
  }
  .list-menu-tab {
    padding: 25px 20px;
    grid-gap: 10px;


    li {

      .menu-tab {

        .thumb {

          i {
            padding-top: 67.31%;
          }
        }

        .name {
          font-size: 14px;
          padding: 0 10px;
          top: auto;
          transform: none;
          bottom: 6px;
        }

        .icn {

        }
      }
    }

  }
  .bh-home-discount {
    margin-bottom: 30px;
    gap: 20px;

    .heading {
      padding-left: 20px;
      padding-right: 20px;

      .txt {
        font-size: 16px;
      }
    }

    .des {
      font-size: 12px;
      padding: 0 20px;
    }

    .md-list {
      padding: 0;

      .swiper-discount {
        &.swiper-container {
          padding-bottom: 0;
        }

        .swiper-wrapper {
          overflow-x: scroll;
          gap: 12px;

          &::-webkit-scrollbar {
            display: none;
          }

        }

        .swiper-slide {
          display: inline-block;
          width: auto;

          &:nth-child(1) {
            margin-left: 20px;
          }

          &:nth-last-child(1) {
            margin-right: 40px;
          }
        }

        .slide-food {
          display: inline-flex;
          grid-template-columns: unset;
          gap: 12px;
          padding: 0;

          &:hover {
            padding: 0;
          }
        }
      }

      .swiper-button-next, .swiper-button-prev {
        display: none;
      }
    }

    .view-all {
      width: calc(100% - 40px);
      height: 30px;
      font-size: 14px;
      margin: 0 auto;
    }

    .waiting-card, .view-all-card {
      width: 155px;
      margin-top: 0;
    }
  }
}