.bh-landing-Tet {
  background: #A71616;
}

.coverTet {
  background: #FFDCB7;

  .cover-image {
    @extend .widthCT;
  }

  video {
    width: 100%;
    display: block;
    height: auto;
  }
}

.menuBox-Tet {
  background: #A71616;
  border-top: 2px solid #EB8A0E;

  .bh-home-menu {
    .tagBox {
      background: #A71616;

      .tags-filter {
        &.active {
          background: #FFBF3D;
          color: #111111;
        }

        color: #FFFFFF;
        background: #CC2C2C;
      }

    }

    .swiper-button-prev, .swiper-button-next {
      &.swiper-button-disabled {
        opacity: .2;
      }

      svg {
        path {
          fill: #FFDCB7;
        }
      }
    }
  }

  .food-card {
    .total-food {
      background: #FFFFFF;
    }
  }
}

@media screen and (max-width: 760px) {
  .bh-landing-Tet {
    .bh-home_wrapper-content {
      background: #fff;
    }

    .bh-main-header {
      background: #A71616;
    }
  }
  .coverTet {


    .cover-image {

    }

    i {
      padding-top: 114.4%;
      background-image: url('https://image.bephoa.vn/data/web/cover_tet-mob.jpg');
    }
  }
  .menuBox-Tet {
    border: none;

    .bh-home-menu {
      border: none;


      .tagBox {
        background: #A71616;
        margin-bottom: 10px;

        .tags-filter {
          &.active {
            background: #FFBF3D;
            color: #111111;
          }

          color: #FFFFFF;
          background: #CC2C2C;
        }

      }
    }

    .bh-menu-list {
      background: #fff;
      border-radius: 15px 15px 0px 0px;
      li {
        &:nth-child(1) {
          border: none;
          padding: 20px;
        }
      }
    }

  }

}