@charset "utf-8";

//Components
@import "reset";
@import "colors";
@import "mixins";
@import "commons";
@import "fonts";

//Layout
@import "header";
@import "footer";

//Page
@import "home";
@import "popup-cart";
@import "popup-checkout";
@import "popup-detail";
@import "finish";
@import "search";

.bh-wrapper {
  padding-top: 60px;

}

.widthCT {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}


@media screen and (min-width: 768px) {
  .bh-wrapper {
    padding: 0;

  }
  .widthCT {
    width: 836px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1440px) {
  .widthCT {
    width: 63.17vw;
  }
}