.policy-wrapper {
  padding: 35px 20px;

  .policy-content {
    width: 660px;
    margin: 0 auto;
    max-width: 100%;
  }

  .content-section {
    & + .content-section {
      padding-top: 35px;
      border-top: 1px solid #C4C4C4;
    }

    margin-bottom: 35px;

    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .heading {
    font-size: 19px;
    line-height: 130%;
    font-family: BVNPro-SemiBold;
    color: #222222;

  }

  p {
    & + p {
      margin-top: -10px;
    }

    font-size: 14px;
    line-height: 140%;
    font-family: BVNPro-Regular;
    color: #222222;

    &.dot {
      padding-left: 20px;
      position: relative;

      &:before {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #222;
        top: 5px;
        left: 3px;
        display: block;
        position: absolute;
        content: '';
      }
    }
  }

  .sub-title {
    font-size: 14px;
    line-height: 140%;
    font-family: BVNPro-SemiBold;
    color: #222222;

  }
}