.PopUp-cart {
  width: 100vw;

  .popup-cart-content {
    height: calc(calc(var(--vh, 1vh) * 100) - 92px);
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 62px;
    box-sizing: border-box;
    padding-bottom: 140px;
  }

  .list-order {


  }

  .order-cart-box {
    flex-grow: 1;
    overflow-y: scroll;
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 107px;
  }

  .header-cart {
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: inset 0px -0.5px 0px #E6E6E6;
    border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }

  .footer-cart {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: inset 0px 0.5px 0px #A08C78;
    padding: 15px 20px;
    width: 100%;
    box-sizing: border-box;

    .total-bill {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 14px;
    }

    .count {
      display: flex;
      align-items: center;

    }

    .text {
      font-size: 16px;
      line-height: 136%;
      font-family: BVNPro-Regular;
      display: block;
      margin-right: 6px;
      color: #222222;

    }

    .quantity {
      font-size: 12px;
      line-height: 100%;
      font-family: BVNPro-Regular;
      color: var(--colorRed);

    }

    .price-bill {
      font-size: 16px;
      line-height: 130%;
      font-family: BVNPro-SemiBold;
      text-align: right;
      color: #222222;
    }

    .funcsBtn {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .add-more {
      width: calc((100% - 15px) / 2);
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      border: 1.5px solid #222222;
      box-sizing: border-box;
      height: 40px;
      border-radius: 6px;

      .icn {
        width: 12px;
        display: block;
        margin-right: 6px;
      }

      .txt {
        font-size: 15px;
        line-height: 100%;
        font-family: BVNPro-Medium;
        display: block;
        color: #222222;
      }
    }

    .payment {
      &.disabled {
        opacity: .5;
        cursor: default;
      }

      width: calc((100% - 15px) / 2);
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--colorRed);
      box-sizing: border-box;
      height: 40px;
      border-radius: 6px;
      font-size: 15px;
      line-height: 100%;
      font-family: BVNPro-Medium;
      color: #FFFFFF;

    }
  }

  .heading {
    display: flex;
    align-items: center;

    .icn {
      width: 24px;
      display: block;
      margin-right: 9px;
    }

    .txt {
      font-size: 19px;
      line-height: 100%;
      font-family: BVNPro-SemiBold;
      color: #222222;

    }
  }

  .close-popup {
    width: 32px;
    display: block;
  }

  .list-order {

    li {
      @extend .bb05;
      padding: 20px;
    }
  }

  .order-info {
    display: flex;
    gap: 15px;

    &.order-warning {
      .warning {
        display: block;
      }
    }
  }

  .warning {
    margin-bottom: 14px;
    display: none;
    padding: 4px 8px;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid #FF6161;
    background: #FDECEC;
    color: #FE3E3E;
    font-family: BVNPro-Regular;
    font-size: 9px;
    text-align: center;
    line-height: 135%; /* 12.15px */
  }

  .ava-food {
    width: 38px;
    flex-shrink: 0;

    .thumb {
      width: 100%;
      border-radius: 6px;
      border: 0.5px solid rgba(0, 0, 0, 0.15);
      box-sizing: border-box;

      i {
        width: 100%;
        padding-top: 100%;
        display: block;
        border-radius: 6px;
      }
    }
  }

  .od-count {
    width: 32px;
    height: 26px;
    background: var(--colorRed);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 130%;
    font-family: BVNPro-Medium;
    color: #FFFFFF;
    margin-right: 15px;
    flex-shrink: 0;
  }

  .od-info {
    flex-grow: 1;
  }

  .od-total {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
  }

  .name-food {
    font-size: 14px;
    line-height: 140%;
    font-family: BVNPro-Medium;
    color: #222222;
    margin-bottom: 8px;
    display: block;
  }

  .price-item {
    display: flex;
    align-items: center;
    font-size: 11px;
    line-height: 140%;
    font-family: BVNPro-Medium;
    gap: 3px;
    margin-bottom: 8px;

    &.sale {
      .price-sale {
        color: #78614B;
        display: block;
      }

      .price-original {
        text-decoration-line: line-through;
        color: #999;
      }
    }

    .price-sale {
      display: none;

    }

    .price-original {
      color: #78614B;
    }
  }

  .opts-list {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .opts {
    font-size: 12px;
    line-height: 170%;
    font-family: BVNPro-Regular;
    color: #666666;
    display: flex;
    flex-direction: column;
  }

  .od-funcs {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .price-opt {
    font-size: 10px;
    line-height: 170%;
    /* identical to box height, or 17px */
    padding-left: 12px;
    font-family: BVNPro-Regular;
    color: #999999;
  }

  .od-note {
    font-size: 12px;
    line-height: 140%;
    font-family: BVNPro-RegularItalic;
    color: #666666;
    margin-bottom: 8px;
  }

  .edit-od {
    font-size: 14px;
    line-height: 100%;
    font-family: BVNPro-SemiBold;
    display: inline-block;
    color: var(--colorRed);
  }

  .od-price {
    font-size: 14px;
    line-height: 150%;
    font-family: BVNPro-Medium;
    display: block;
    text-align: right;
    color: #666666;

  }

  .cancel-od {
    display: flex;
    align-items: center;

    .txt {
      font-size: 12px;
      line-height: 100%;
      font-family: BVNPro-Regular;
      text-align: right;
      display: block;
      margin-right: 3px;
      color: #999999;
    }

    .icn {
      display: block;
      width: 8px;
    }
  }

  .suggest-food {
    padding: 15px 0;
    background: #FFF6ED;
    position: absolute;
    bottom: 104px;
    width: 100%;

    .heading {
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .text {
      display: flex;
      align-items: center;
      gap: 5px;

      .icn {
        width: 14px;
        display: block;
        height: auto;
      }

      .txt {
        color: #78614B;

        font-family: BVNPro-SemiBold;
        font-size: 11px;
        font-style: normal;
        line-height: 114%; /* 11px */
        letter-spacing: 0.44px;
        text-transform: uppercase;
      }
    }

    .swiper-funcs {
      display: flex;
      gap: 10px;
    }

    .swiper-button-prev, .swiper-button-next {
      position: relative;
      margin: 0;
      background: none;
      outline: none;
      border: none;
      width: 20px;
      height: 20px;
      top: auto;
      left: auto;
      right: auto;

      &.swiper-button-disabled {
        opacity: .2;
      }
    }

  }

  .swiper-suggest {
    .swiper-slide {


      margin-left: 20px;

      &:nth-last-child(1) {
        margin-right: 20px;
      }

      height: auto;
      width: 200px;

    }
  }

  .waiting-card {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: #fff;
  }

  .suggest-card {
    display: flex;
    padding: 5px;
    gap: 8px;
    border: 0.7px solid #D0D0D0;
    background: #FFF;
    border-radius: 6px;

    .thumb {
      width: 57px;
      flex-shrink: 0;
      position: relative;
      display: block;

      i {
        width: 100%;
        padding-top: 100%;
        border-radius: 3px;
        overflow: hidden;
        @include bg-thumb();
        @include img-border-inside();
      }

    }

    &.hot {
      .status {
        opacity: 1;
        visibility: visible;
      }
    }

    &.sale {
      .status {
        opacity: 1;
        visibility: visible;
      }

    }

    .status {
      background: #FFE600;
      border-radius: 0px 14px 14px 0px;
      position: absolute;
      left: 0;
      display: inline-flex;
      opacity: 0;
      visibility: hidden;
      line-height: 130%;
      font-family: BVNPro-Medium;
      color: #222222;
      top: 4px;
      font-size: 8px;
      padding: 2px 4px;
    }

    .total-food {
      flex-grow: 1;
    }

    .name {
      font-size: 12px;
      padding: 0;
      line-height: 140%; /* 19.6px */
      font-family: BVNPro-SemiBold;
      display: block;
      color: #222222;
      margin-bottom: 3px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .price {
      display: flex;
      align-items: center;

      .current-price {
        font-size: 10px;
        line-height: 140%; /* 14px */
        font-family: BVNPro-Medium;
        color: var(--colorRed);
      }

      .original-price {
        font-size: 9px;
        line-height: 140%; /* 14px */
        font-family: BVNPro-Regular;
        margin-left: 6px;
        text-decoration-line: line-through;
        color: #999999;
      }
    }

    .voucher {
      display: flex;
      align-items: center;

      .icn {
        width: 12px;
        margin-right: 6px;
        flex-shrink: 0;
      }

      .text {
        flex-grow: 1;
        font-size: 10px;
        line-height: 130%;
        font-family: BVNPro-Medium;
        color: #629050;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}

.popup-cart-active {
  .fancybox-slide--html {
    padding: 0;
  }

  .fancybox-content {
    margin-top: 92px;
    padding: 0;
    vertical-align: top;
    background: #FFFFFF;
    border-radius: 10px 10px 0 0;
  }

  .fancybox-bg {
    background: rgba(0, 0, 0, .7);
  }

  .fancybox-close-small {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .PopUp-cart {
    width: 400px;

    .popup-cart-content {
      height: calc(100vh - 18px);
    }
  }
  .popup-cart-active {
    .fancybox-content {
      margin-top: 9px;
      border-radius: 6px;
      margin-bottom: 9px;
    }

    .fancybox-slide {
      display: flex;
      justify-content: flex-end;
      padding-right: 8px;
    }
  }
}

@media screen and (max-width: 768px) {
  .PopUp-cart {
    .footer-cart {
      position: fixed;

    }

    .suggest-food {


      .heading {

      }


      .swiper-funcs {
        display: none;
      }


    }
  }
}