.Popup-checkout {
  width: 100vw;

  &.fancybox-content {
    background: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    height: -webkit-fill-available;
  }

  .popup-content {
    @extend .widthCT;
    background: #EEEEEE;
    padding-top: 72px;
    padding-bottom: 150px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    background: #FFFFFF;
    height: 62px;
    box-shadow: inset 0px -0.5px 0px #E6E6E6;
    z-index: 99;
    width: 100%;
    box-sizing: border-box;

    .back-btn {
      position: absolute;
      width: 24px;
      top: 50%;
      left: 11px;
      transform: translateY(-50%);
      display: block;
    }

    .heading {
      font-size: 19px;
      line-height: 130%;
      font-family: BVNPro-SemiBold;
      text-align: center;
      color: #222222;

    }
  }

  .infoBox {
    background: #FFFFFF;
    margin-bottom: 10px;

    .title {
      padding: 15px 20px 15px 33px;
      @extend .bb05;
      position: relative;

      &:before {
        background: var(--colorRed);
        width: 4px;
        height: 17px;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        content: '';
        position: absolute;
      }

      font-size: 15px;
      line-height: 100%;
      font-family: BVNPro-SemiBold;
      text-transform: uppercase;
      color: #222222;

    }
  }

  .contentBox {
    padding: 20px;
  }

  .infoGroup {
    & + .infoGroup {
      margin-top: 25px;
    }

    .label {
      font-size: 14px;
      line-height: 100%;
      font-family: BVNPro-SemiBold;
      margin-bottom: 15px;
      color: #222222;
    }

    .type-order {
      display: flex;
      justify-content: space-between;
      gap: 15px;
    }

    .choose-type-order {
      &.shipping {
        .icn {
          background-image: url('../img/shipping.png');
        }

        &.active {
          .icn {
            background-image: url('../img/shipping-active.png');
          }
        }
      }

      &.pickup {
        .icn {
          background-image: url('../img/pickup.png');
        }

        &.active {
          .icn {
            background-image: url('../img/pickup-active.png');
          }
        }
      }

      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 9px 0;
      box-sizing: border-box;
      background: #F6F6F6;
      border-bottom: 1.5px solid #F6F6F6;
      border-radius: 6px;

      &.active, &:hover {
        background: #FFFFFF;
        border: 1.5px solid var(--colorRed);
      }

      .icn {
        width: 32px;
        height: 32px;
        @include bg-thumb();
        margin-right: 11px;

      }

      .txt {
        font-size: 14px;
        line-height: 100%;
        font-family: BVNPro-Medium;
        color: #222222;

      }
    }

    .date-order {
      display: flex;
      justify-content: space-between;

      .pick-date {
        & + .pick-date {
          margin-left: 20px;
        }

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #F6F6F6;
        border-radius: 6px;
        font-size: 12px;
        line-height: 100%;
        font-family: BVNPro-Medium;
        text-align: center;
        transition: .2s;
        color: #666666;
        padding: 10px 0;
        box-sizing: border-box;

        &.active, &:hover {
          background: var(--colorRed);
          color: #FFFFFF;
        }

        .text {
          display: block;
          margin-bottom: 6px;
        }

        .date {
          display: block;
        }
      }


    }

    .warning {
      &.active{
        display: block;
      }

      display: none;
      margin-top: 10px;
      font-size: 13px;
      line-height: 19px;
      background: #FFF6ED;
      border-radius: 6px;
      color: #B5292F;
      padding: 10px 14px;
      font-family: BVNPro-Regular;

      b {
        font-family: BVNPro-SemiBold;
      }
    }

    .time-order {

    }

    .choose-time-order {
      & + .choose-time-order {
        margin-top: 15px;
      }

      display: flex;
      align-items: center;
    }

    .select-timeBox {
      background: #FFFFFF;
      border: 1.5px solid #000000;
      box-sizing: border-box;
      border-radius: 6px;
      width: 100px;
      margin-left: 25px;
      height: 32px;

      select {
        text-align: center;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        background: none;
        font-size: 14px;
        line-height: 100%;
        font-family: BVNPro-Regular;
        color: #222222;
        padding: 6px 10px;
        box-sizing: border-box;
      }

      &:has(.select2.select2-container--open) {
        border-radius: 6px 6px 0 0;
        border: 0.5px solid var(--colorRed);
      }

      .selection {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

      }

      .select2-results__option {
        padding: 8px 10px;
      }

      .select2-container--open .select2-dropdown--below {
        top: 10px;
        border: 1px solid #000000;
        border-radius: 6px;
      }

      .select2-container--default .select2-results > .select2-results__options {
        overflow-y: scroll;
        overflow-y: overlay;

        &::-webkit-scrollbar {
          width: 5px;
          height: 0;
        }

        &::-webkit-scrollbar-track {
          margin: 5px 0;
        }

        &::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.0);
          border-radius: 10px;
          box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
        }

        &:hover::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.45)
        }

        &::-webkit-scrollbar-thumb:hover {
          background: rgba(0, 0, 0, 0.85)
        }
      }

      .select2.select2-container--open {

      }

      .select2-container {
        &.select2-container--open {
          width: auto !important;
        }

        .select2-selection--single {
          width: 100% !important;
          height: 100% !important;
          display: flex;
          align-items: center;
        }

        width: 100% !important;
        background: #FFFFFF;

        box-sizing: border-box;
        border-radius: 6px;
        height: 34px !important;
        display: flex;
      }

    }

    .bill-total {

    }

    .food-total {
      & + .food-total {
        margin-top: 15px;
      }

      display: flex;

      .count {
        width: 27px;
        flex-shrink: 0;
        margin-right: 11px;
        font-size: 14px;
        line-height: 140%;
        font-family: BVNPro-Regular;
        display: block;
        color: #222222;
      }

      .info-food {
        flex-grow: 1;
      }

      .name-food {
        font-size: 14px;
        line-height: 140%;
        font-family: BVNPro-Regular;
        color: #222222;
      }

      .options-food {
        margin-top: 4px;
        font-size: 12px;
        line-height: 170%;
        font-family: BVNPro-RegularItalic;
        color: #666666;

        span + span {
          &:before {
            content: ' / ';
          }
        }
      }
    }

    .note-order {
      background: #FFF6ED;
      width: 100%;
      border: none;
      box-sizing: border-box;
      min-height: 30px;
      display: flex;
      align-items: center;
      border-radius: 6px;
      padding: 13px;
      font-size: 14px;
      line-height: 100%;
      font-family: BVNPro-Regular;
      color: #222222;

      &::placeholder {
        opacity: 0.5;
      }

    }

  }

  .dropdown-city {
    &.mb-20 {
      margin-bottom: 20px;
    }

    &.active {
      border-left: 0.5px solid #B5292F;
      border-right: 0.5px solid #B5292F;
      border-top: 0.5px solid #B5292F;
      border-radius: 6px 6px 0 0;

      .droplist-city {
        opacity: 1;
        visibility: visible;
      }
    }

    transition: .3s ease;
    background: #FFFFFF;
    border: 0.5px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
    width: 100%;

    .dropdown-btn {
      display: block;
      padding: 12px 0;

      .value {
        z-index: 2;
        position: relative;
        font-size: 14px;
        line-height: 100%;
        font-family: BVNPro-Regular;
        color: #222222;
        left: 0;
        padding-left: 13px;
      }

      .txt {
        position: absolute;
        z-index: 1;
        font-size: 12px;
        line-height: 100%;
        font-family: BVNPro-Regular;
        display: block;
        right: 14px;
        top: 14px;
        color: #B5292F;

      }
    }

    .droplist-city {
      transition: .3s ease;
      opacity: 0;
      visibility: hidden;
      border-radius: 0 0 6px 6px;
      overflow: hidden;
      box-sizing: border-box;
      z-index: 10;
      position: absolute;
      top: calc(100% + 1px);
      left: -1px;
      width: calc(100% + 2px);
      background: #fff;
      border-left: 0.5px solid #B5292F;
      border-right: 0.5px solid #B5292F;
      border-bottom: 0.5px solid #B5292F;

      .droplist-content {

      }

      .label-drop {
        padding: 10px;
        user-select: none;
        font-size: 14px;
        line-height: 119%;
        font-family: BVNPro-Regular;
        color: #999;
      }

      .city-btn {
        &:hover {
          background: #f1f1f1;
        }

        transition: .3s ease;
        background: #fff;
        display: block;
        font-size: 14px;
        line-height: 100%;
        font-family: BVNPro-Regular;
        color: #222222;
        padding: 10px;
      }
    }
  }

  .form-input-user {
    padding: 20px;

    .form-input {
      & + .form-input {
        margin-top: 15px;
      }

      &.error {
        .warning {
          display: block;
        }

        .input-user {
          border: 0.5px solid #B5292F;
        }
      }
    }

    .warning {
      margin-top: 9px;
      padding-left: 11px;
      font-size: 10px;
      line-height: 140%;
      font-family: BVNPro-Regular;
      display: none;
      color: #B5292F;
    }

    .input-user {
      padding: 0 13px;
      background: #FFFFFF;
      border: 0.5px solid #C7C7C7;
      box-sizing: border-box;
      border-radius: 6px;
      display: flex;
      align-items: center;
      position: relative;

      &.select-user {
        border: none;
        border-radius: 0;
        background: #FFFFFF;
        padding: 0;
      }
    }

    .icn {
      width: 16px;
      display: block;
      margin-right: 16px;
      flex-shrink: 0;
    }

    input, select {
      flex-grow: 1;
      border: none;
      font-size: 14px;
      padding: 0;
      line-height: 40px;
      font-family: BVNPro-Regular;
      color: #222222;
      box-sizing: border-box;

      &.select2-hidden-accessible {
        display: none;
      }

      &::placeholder {
        opacity: 0.5;

      }
    }

    select:required:invalid {
      color: gray;
    }

    option {
      color: #222222;
    }

    .city {
      font-size: 14px;
      line-height: 100%;
      /* identical to box height, or 14px */
      display: inline-block;
      flex-shrink: 0;
      font-family: BVNPro-Regular;
      color: #222222;
      margin-right: 5px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      padding-left: 13px;
      z-index: 1;

      &:after {
        content: '  /';
        opacity: .5;
        margin-left: 5px;
      }
    }

    .select2 {
      &.select2-container--open {
        border-radius: 6px 6px 0 0;
        border: 0.5px solid var(--colorRed);
      }

      & > * {
        outline: none;
      }

      padding: 11px 13px 11px 3px;
      width: 100% !important;
      background: #FFFFFF;
      border: 0.5px solid #C7C7C7;
      box-sizing: border-box;
      border-radius: 6px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
      display: none;
    }

    .new-address {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 12px;

      .icn {
        width: 18px;
        display: block;
        margin-right: 8px;
      }

      .txt {
        font-size: 14px;
        line-height: 100%;
        font-family: BVNPro-Regular;
        color: #B5292F;
        display: block;
      }
    }

    .addr-group {
      .heading {
        font-size: 13px;
        line-height: 119%;
        font-family: BVNPro-Regular;
        color: #555555;
        margin-bottom: 10px;
      }
    }

    .list-addr {
      li + li {
        margin-top: 10px;
        position: relative;
        padding-top: 10px;

        &:before {
          width: calc(100% - 29px);
          height: 1px;
          background: #E7E7E7;
          position: absolute;
          right: 0;
          top: 0;
          display: block;
          content: '';
        }
      }
    }

    .autofill-box {
      &.active {
        opacity: 1;
        visibility: visible;
      }

      opacity: 0;
      visibility: hidden;
      transition: .2s;
      position: absolute;
      top: calc(100% + 5px);
      left: -1px;
      width: calc(100% + 2px);
      z-index: 2;
    }

    .list-address {
      background: #FFFFFF;
      border: 0.5px solid #C7C7C7;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 12px 13px;

      li + li {
        padding-top: 10px;
        margin-top: 10px;
        @extend .bt05;
      }

      .address-used {
        font-size: 14px;
        line-height: 119%;
        font-family: BVNPro-Regular;
        display: block;
        color: #222222;
      }
    }

    .trigger-select {
      position: absolute;
      font-size: 12px;
      line-height: 100%;
      font-family: BVNPro-Regular;
      right: 13px;
      top: 50%;
      transform: translateY(-50%);
      color: var(--colorRed);
      display: block;
    }

  }

  .remind-user {
    margin-top: 25px;
    padding-bottom: 36px;

    .text {
      font-size: 14px;
      line-height: 130%;
      /* or 18px */
      font-family: BVNPro-Regular;
      text-align: center;
      color: #222222;
      margin-bottom: 38px;
    }

    .images {
      width: 97px;
      margin: 0 auto 20px;

      img {
        width: 100%;
        display: block;
      }
    }

    .remind-text {
      font-size: 14px;
      line-height: 150%;
      font-family: BVNPro-SemiBold;
      text-align: center;
      text-transform: uppercase;

      span {
        color: var(--colorRed);
      }

      color: #111111;

    }
  }

  .payment-box {
    padding: 20px;

    .list-payment {
      margin-bottom: 28px;

      li + li {
        margin-top: 10px;
      }
    }

    .payment-type {
      &.active, &:hover {
        border: 1.5px solid #B5292F;
        background: #FFFFFF;

        .txt {
          font-family: BVNPro-Medium;
        }
      }

      transition: .2s;
      border: 1.5px solid #F6F6F6;
      box-sizing: border-box;
      background: #F6F6F6;
      border-radius: 6px;
      display: flex;
      align-items: center;
      padding: 16px 14px;

      .icn {
        width: 18px;
        display: block;
        flex-shrink: 0;
        margin-right: 13px;
      }

      .txt {
        font-size: 14px;
        line-height: 100%;
        font-family: BVNPro-Regular;
        display: block;
        color: #111111;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }

  .total-bill-order {
    margin-bottom: 20px;

    .priceFlx {
      & + .priceFlx {
        margin-top: 15px;
      }

      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      font-size: 14px;
      line-height: 100%;
      font-family: BVNPro-Medium;
      color: #222222;
    }

    .text {
      display: flex;
      align-items: center;

      span {
        font-size: 12px;
        font-family: BVNPro-Regular;
        color: #B5292F;
        margin-left: 6px;
        display: block;
      }

    }

    .price-detail {
      display: block;
      text-align: right;

      .discount {
        & + .discount {
          margin-top: 5px;
        }

        display: block;
        color: #629050;
      }
    }
  }

  .policy-note {
    font-size: 12px;
    line-height: 140%;
    font-family: BVNPro-Regular;
    margin-top: 23px;

    a {
      color: var(--colorRed);
    }

    color: #666666;

  }

  .voucherBox {
    & + .voucherBox {
      margin-top: 15px;
    }

    display: flex;

    .form-input-voucher {
      flex-grow: 1;

      &.approved {
        .checking-voucher {
          display: block;
        }
      }

      &.wrong {
        .noti {
          display: block;
        }
      }
    }

    .input-voucher {
      background: #FFFFFF;
      border: 0.5px solid #C7C7C7;
      box-sizing: border-box;
      border-radius: 6px;
      display: flex;
      align-items: center;
      padding: 10px 11px;
    }

    .noti {
      margin-top: 9px;
      padding-left: 11px;
      font-size: 10px;
      line-height: 140%;
      font-family: BVNPro-Regular;
      display: none;
      color: #B5292F;

    }

    .checking-voucher {
      width: 16px;
      display: none;
      flex-shrink: 0;
      margin-right: 8px;
    }

    input {
      border: none;
      flex-grow: 1;
      font-size: 13px;
      line-height: 140%;
      font-family: BVNPro-Regular;
      color: #222222;
      text-transform: uppercase;

      &::placeholder {
        text-transform: none;
        opacity: 0.5;
      }
    }

    .confirm-btn {
      margin-left: 10px;
      flex-shrink: 0;
      background: #222222;
      border-radius: 6px;
      width: 90px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      line-height: 140%;
      font-family: BVNPro-Medium;
      color: #FFFFFF;
    }

  }

  .footer-bill {
    position: fixed;
    transition: bottom .2s ease;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: #FFFFFF;
    box-shadow: inset 0px 0.5px 0px #A08C78;
    padding: 15px 20px;
    box-sizing: border-box;

    .total-checkout {
      display: flex;
      justify-content: space-between;
      margin-bottom: 14px;
    }

    .complete-checkout-btn {
      background: #B5292F;
      border-radius: 6px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      line-height: 100%;
      font-family: BVNPro-Medium;
      color: #FFFFFF;

    }

    .text {
      font-size: 16px;
      line-height: 100%;
      font-family: BVNPro-Regular;
      color: #222222;
    }

    .price-bill {
      text-align: right;
      display: block;
    }

    .price-final {
      font-size: 16px;
      line-height: 100%;
      font-family: BVNPro-SemiBold;
      color: #B5292F;

    }

    .price-ori {
      font-size: 11px;
      line-height: 130%;
      font-family: BVNPro-Regular;
      margin-top: 6px;
      text-decoration-line: line-through;
      color: #666666;
    }
  }
}

.popup-checkout-active {
  .fancybox-slide--html {
    padding: 0;
  }

  &.popup-switch-active {
    .fancybox-is-open {
      .fancybox-bg {
        background: rgba(0, 0, 0, .75);
      }
    }

    .fancybox-content {
      vertical-align: middle;
    }
  }

  .fancybox-content {
    padding: 0;
    vertical-align: top;
  }

  .fancybox-bg {
    background: rgba(0, 0, 0, .7);
  }

  .fancybox-close-small {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .Popup-checkout {

    &.fancybox-content {

    }

    .infoBox {
      border: 0.5px solid rgba(0, 0, 0, 0.15);
      box-sizing: border-box;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
      border-radius: 6px;
    }

    .popup-content {
      background: none;
      padding: 87px 0 50px !important;
    }

    .content-flex {
      display: flex;
    }

    .content {
      flex-grow: 1;
    }

    .right-web {
      width: 345px;
      margin-left: 25px;
      flex-shrink: 0;
      position: relative;
    }

    .footer-bill {
      padding: 20px;
      top: 80px;
      left: 0;
      position: sticky;
      width: 100%;
      border: 0.5px solid #B5292F;
      box-sizing: border-box;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
      border-radius: 6px;

      .text {
        font-size: 14px;
      }
    }

    .infoGroup {
      //.note-order {
      //  height: 80px;
      //}

      .food-total {
        .name-food {
          font-size: 13px;
          font-family: BVNPro-Medium;
        }
      }

      .choose-time-order {
        .select-timeBox {
          height: auto;
          width: 130px;
        }
      }
    }

    .billGroup {
      margin-bottom: 25px;

      .label {
        font-size: 16px;
      }
    }

    .bill-payment {
      padding-top: 25px;
      border-top: 1px solid #D3D3D3;
      margin-bottom: 25px;
    }

    .total-checkout {
      padding-top: 25px;
      border-top: 1px solid #B5292F;
    }

    .header {
      z-index: 99999;
    }
  }
  .popup-checkout-active {

    .fancybox-is-open {
      .fancybox-bg {
        opacity: 1;
        background: #F5F5F5;
      }
    }
  }
}

