@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Italic;
  src: url("../fonts/Roboto-Italic.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto-Bold.ttf");
}

html > * {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.body-bill {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  color: #111;
  font-family: Roboto-Medium;
  font-size: 12px;
  line-height: 150%;
  background: #fff;
  padding: 30px 25px;
  .header {
    display: flex;
    align-items: center;
    padding-bottom: 13px;
    border-bottom: 3px solid #222;
    margin-bottom: 17px;
  }

  .logo {
    width: 39px;
    margin-right: 15px;
    svg {
      width: 100%;
      display: block;
      height: auto;
    }
  }

  .total {
    display: block;
    .name {
      font-size: 17px;
      line-height: 100%;
      color: #222222;
      margin-bottom: 8px;
    }
    .contact-flex {
      display: flex;
    }
    .contact-total {
      & + .contact-total {
        margin-left: 14px;
      }
      display: flex;
      align-items: center;

    }
    .icn {
      width: 11px;
      margin-right: 5px;
      svg {
        width: 100%;
        display: block;
        height: auto;
      }
    }
    .txt {
      color: #222222;
    }
  }

  .total-bill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 13px;
    border-bottom: 2px solid #222;
    margin-bottom: 17px;
    .text {
      font-size: 12px;
      line-height: 130%;
      margin-bottom: 5px;
    }
    .code {
      font-size: 15px;
      font-family: Roboto-Bold;
      margin-bottom: 4px;
    }
    .date {
      font-size: 12px;

    }
  }
  .qr-code {
    width: 60px;
    img {
      width: 100%;
      display: block;
    }
  }

  .detail-bill {
    padding-bottom: 13px;
    border-bottom: 2px solid #222;
    margin-bottom: 17px;
    h2 {
      font-size: 15px;
      font-family: Roboto-Bold;
      margin-bottom: 14px;
    }
    .list-order {
      li + li {
        margin-top: 13px;
      }
      list-style-type: none;
      padding: 0;
    }

    .order-info {
      flex-grow: 1;
    }
    .order-detail {
      display: flex;

      .quantity {
        font-size: 12px;
        width: 26px;
        flex-shrink: 0;
      }

      .name-food {
        font-family: Roboto-Bold;
        font-size: 12px;
        margin-bottom: 4px;
      }
      .price-original {
        font-size: 12px;
        font-family: Roboto-Regular;
      }
    }
    .price-result {
      font-family: Roboto-Bold;
      width: 70px;
      flex-shrink: 0;
      margin-left: 10px;
      text-align: right;
      font-size: 12px;

    }
  }

  .money-bill {
    padding-bottom: 13px;
    border-bottom: 2px solid #222;
    margin-bottom: 17px;

    .type-money {
      &.big-type {
        margin: 12px 0;
        .type {
          font-size: 15px;
        }
        .money {
          font-size: 16px;
        }
      }
      &.italic-type {
        font-family: Roboto-Italic;
      }
      font-family: Roboto-Bold;
      margin-bottom: 7px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .type {
        font-size: 12px;

      }
      .money {
        font-size: 12px;
      }
    }
  }
  .member-total {
    padding-bottom: 13px;
    border-bottom: 2px solid #222;
    margin-bottom: 17px;
    .member-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 13px;
      .name {
        font-size: 15px;
        flex-grow: 1;
      }
      .phone {
        font-size: 14px;
        color: #222222;
        width: 78px;
        flex-shrink: 0;
        text-align: right;
        margin-left: 10px;
      }
    }
    .member-add {
      font-size: 12px;
      margin-bottom: 14px;
      font-family: Roboto-Bold;
    }
    .info-flex {
      display: flex;
      margin-bottom: 7px;
      .type {
        width: 88px;
        flex-shrink: 0;
        margin-right: 13px;
      }
      .text {
        font-family: Roboto-Bold;
        flex-grow: 1;
      }
    }
  }
  .text-bottom {
    font-size: 13px;
    text-align: center;
    font-family: Roboto-Bold;
  }
}