
html > * {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.body-bill {
  width: 303px;
  margin: 0 auto;
  box-sizing: border-box;
  color: #000;
  font-family: Tahoma;
  font-size: 12px;
  line-height: 130%;
  background: #fff;
  padding: 0 5px;

  .header {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 3px solid #000;
    margin-bottom: 3px;
  }

  .logo {
    width: 30px;
    margin-right: 10px;

    svg {
      width: 100%;
      display: block;
      height: auto;
    }
  }

  .total {
    display: block;

    .name {
      font-size: 15px;
      line-height: 100%;
      color: #000000;
      margin-bottom: 3px;
      font-weight: 700;
    }

    .contact-flex {
      display: flex;
    }

    .contact-total {
      & + .contact-total {
        margin-left: 14px;
      }

      display: flex;
      align-items: center;

    }

    .icn {
      width: 11px;
      margin-right: 5px;

      svg {
        width: 100%;
        display: block;
        height: auto;
      }
    }

    .txt {
      color: #000000;
    }
  }

  .total-bill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    margin-bottom: 5px;

    .text {
      font-size: 12px;
      line-height: 130%;
      margin-bottom: 5px;
    }

    .code {
      font-size: 13px;
      font-weight: 700;
      margin-bottom: 4px;
    }

    .date {
      font-size: 12px;

    }
  }

  .qr-code {
    width: 60px;

    img {
      width: 100%;
      display: block;
    }
  }

  .detail-bill {
    border-bottom: 1px solid #000;
    margin-bottom: 5px;

    h2 {
      font-size: 13px;
      font-weight: 700;
      margin: 0 auto 5px;
    }

    .list-order {
      margin: 2px 0;

      li + li {
        margin-top: 2px;
      }

      list-style-type: none;
      padding: 0;
    }

    .order-info {
      flex-grow: 1;
    }

    .order-detail {
      display: flex;

      .quantity {
        font-size: 12px;
        width: 26px;
        flex-shrink: 0;
      }

      .name-food {
        font-weight: 700;
        font-size: 12px;
      }

      .opt-food {
        margin: 2px 0;
        padding-left: 10px;
        position: relative;
        font-size: 10px;
        gap: 3px;
        display: flex;

        &:before {
          content: '+';
          position: absolute;
          left: 0;
        }
      }

      .opt-list {
        width: calc(100% + 75px);
        list-style-type: none;
        padding: 0;

        li {
          padding: 0;
        }
      }

      .prc-opt {
        font-size: 9px;
        flex-shrink: 0;
      }

      .note-food {
        font-size: 11px;
        font-weight: 500;
        font-style: italic;
        margin-bottom: 3px;
        line-height: 14px;
      }

      .price-item {
        display: flex;
        gap: 3px;
        font-weight: 600;

        &.sale {
          .price-original {
            text-decoration: line-through;
            font-size: 11px;
          }
        }
      }

      .price-original {
        font-size: 12px;
        font-family: Tahoma;
      }
    }

    .price-result {
      text-align: right;
      width: 65px;
      flex-shrink: 0;
      margin-left: 10px;

    }

    .price-ori {
      font-weight: 700;

      font-size: 12px;
    }

  }

  .money-bill {
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    margin-bottom: 5px;

    .type-money {
      &.big-type {
        margin: 2px 0;

        .type {
          font-size: 13px;
        }

        .money {
          font-size: 13px;
        }
      }

      &.italic-type {
        font-style: italic;
        font-weight: 500;
      }

      font-weight: 700;
      margin-bottom: 2px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .type {
        font-size: 12px;

      }

      .money {
        font-size: 12px;
      }
    }
  }

  .member-total {
    border-bottom: 1px solid #000;
    margin-bottom: 3px;

    .member-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2px;

      .name {
        font-size: 13px;
        line-height: 17px;
        font-weight: 500;
        flex-grow: 1;
      }

      .phone {
        font-size: 13px;
        color: #000000;
        font-weight: 700;
        flex-shrink: 0;
        text-align: right;
        margin-left: 10px;
      }
    }

    .member-add {
      font-size: 12px;
      margin-bottom: 5px;
      font-weight: 700;
    }

    .info-flex {
      display: flex;
      margin-bottom: 3px;

      .type {
        width: 80px;
        flex-shrink: 0;
        margin-right: 10px;
      }

      .text {
        font-weight: 700;
        flex-grow: 1;
      }
    }
  }

  .text-bottom {
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    font-weight: 700;
  }
}